testdata/real-world/docbook5-subset.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Simplified DocBook 5 subset for real-world testing.
  Covers: article, book, chapter, section, para, emphasis, link,
  programlisting, note, warning, table structures, and common attributes.
  Uses xsd datatypes throughout.
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:db="http://docbook.org/ns/docbook"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://docbook.org/ns/docbook">

  <start>
    <choice>
      <ref name="article"/>
      <ref name="book"/>
    </choice>
  </start>

  <!-- Common attribute groups -->
  <define name="db.common.attributes">
    <optional><attribute name="xml:id"><data type="ID"/></attribute></optional>
    <optional><attribute name="xml:lang"><data type="language"/></attribute></optional>
    <optional><attribute name="xml:base"><data type="anyURI"/></attribute></optional>
    <optional><attribute name="version"><data type="string"/></attribute></optional>
    <optional><attribute name="role"><data type="string"/></attribute></optional>
    <optional><attribute name="revisionflag">
      <choice>
        <value>changed</value><value>added</value>
        <value>deleted</value><value>off</value>
      </choice>
    </attribute></optional>
    <zeroOrMore>
      <attribute>
        <anyName>
          <except>
            <nsName ns="http://docbook.org/ns/docbook"/>
            <nsName ns=""/>
            <nsName ns="http://www.w3.org/XML/1998/namespace"/>
            <nsName ns="http://www.w3.org/1999/xlink"/>
          </except>
        </anyName>
      </attribute>
    </zeroOrMore>
  </define>

  <define name="xlink.attribs">
    <optional>
      <attribute name="xlink:href"><data type="anyURI"/></attribute>
    </optional>
    <optional>
      <attribute name="xlink:type"><data type="string"/></attribute>
    </optional>
    <optional>
      <attribute name="xlink:role"><data type="anyURI"/></attribute>
    </optional>
    <optional>
      <attribute name="xlink:title"><data type="string"/></attribute>
    </optional>
    <optional>
      <attribute name="xlink:show"><data type="string"/></attribute>
    </optional>
    <optional>
      <attribute name="xlink:actuate"><data type="string"/></attribute>
    </optional>
  </define>

  <!-- Inline content model -->
  <define name="inlines">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="emphasis"/>
        <ref name="link"/>
        <ref name="code"/>
        <ref name="literal"/>
        <ref name="command"/>
        <ref name="filename"/>
        <ref name="option"/>
        <ref name="replaceable"/>
        <ref name="varname"/>
        <ref name="classname"/>
        <ref name="methodname"/>
        <ref name="parameter"/>
        <ref name="type"/>
        <ref name="tag"/>
        <ref name="abbrev"/>
        <ref name="acronym"/>
        <ref name="citation"/>
        <ref name="footnote"/>
        <ref name="phrase"/>
        <ref name="subscript"/>
        <ref name="superscript"/>
        <ref name="trademark"/>
        <ref name="xref"/>
      </choice>
    </zeroOrMore>
  </define>

  <!-- Block content -->
  <define name="blocks">
    <zeroOrMore>
      <choice>
        <ref name="para"/>
        <ref name="simpara"/>
        <ref name="formalpara"/>
        <ref name="programlisting"/>
        <ref name="screen"/>
        <ref name="literallayout"/>
        <ref name="note"/>
        <ref name="warning"/>
        <ref name="caution"/>
        <ref name="tip"/>
        <ref name="important"/>
        <ref name="itemizedlist"/>
        <ref name="orderedlist"/>
        <ref name="variablelist"/>
        <ref name="table"/>
        <ref name="informaltable"/>
        <ref name="example"/>
        <ref name="figure"/>
        <ref name="blockquote"/>
        <ref name="procedure"/>
        <ref name="sidebar"/>
        <ref name="mediaobject"/>
      </choice>
    </zeroOrMore>
  </define>

  <!-- Top-level structures -->
  <define name="article">
    <element name="article">
      <ref name="db.common.attributes"/>
      <optional>
        <attribute name="class">
          <choice>
            <value>faq</value><value>journalarticle</value>
            <value>productsheet</value><value>specification</value>
            <value>techreport</value><value>whitepaper</value>
          </choice>
        </attribute>
      </optional>
      <optional><ref name="info"/></optional>
      <ref name="blocks"/>
      <zeroOrMore><ref name="section"/></zeroOrMore>
    </element>
  </define>

  <define name="book">
    <element name="book">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <zeroOrMore>
        <choice>
          <ref name="chapter"/>
          <ref name="appendix"/>
          <ref name="part"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="chapter">
    <element name="chapter">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
      <zeroOrMore><ref name="section"/></zeroOrMore>
    </element>
  </define>

  <define name="appendix">
    <element name="appendix">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
      <zeroOrMore><ref name="section"/></zeroOrMore>
    </element>
  </define>

  <define name="part">
    <element name="part">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <zeroOrMore><ref name="chapter"/></zeroOrMore>
    </element>
  </define>

  <define name="section">
    <element name="section">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
      <zeroOrMore><ref name="section"/></zeroOrMore>
    </element>
  </define>

  <!-- Info block -->
  <define name="info">
    <element name="info">
      <ref name="db.common.attributes"/>
      <interleave>
        <optional><ref name="title"/></optional>
        <optional><ref name="subtitle"/></optional>
        <zeroOrMore><ref name="author"/></zeroOrMore>
        <zeroOrMore><ref name="editor"/></zeroOrMore>
        <zeroOrMore><ref name="othercredit"/></zeroOrMore>
        <optional><ref name="pubdate"/></optional>
        <optional><ref name="date"/></optional>
        <optional><ref name="copyright"/></optional>
        <optional><ref name="abstract"/></optional>
        <zeroOrMore><ref name="keywordset"/></zeroOrMore>
        <optional><ref name="releaseinfo"/></optional>
        <optional><ref name="revhistory"/></optional>
        <optional><ref name="legalnotice"/></optional>
        <optional>
          <element name="edition"><ref name="inlines"/></element>
        </optional>
      </interleave>
    </element>
  </define>

  <define name="title">
    <element name="title"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="subtitle">
    <element name="subtitle"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="author">
    <element name="author">
      <ref name="db.common.attributes"/>
      <interleave>
        <optional>
          <element name="personname">
            <ref name="db.common.attributes"/>
            <interleave>
              <optional><element name="firstname"><text/></element></optional>
              <optional><element name="surname"><text/></element></optional>
              <optional><element name="othername"><text/></element></optional>
              <optional><element name="honorific"><text/></element></optional>
              <optional><element name="lineage"><text/></element></optional>
            </interleave>
          </element>
        </optional>
        <zeroOrMore>
          <element name="affiliation">
            <ref name="db.common.attributes"/>
            <optional><element name="orgname"><ref name="inlines"/></element></optional>
            <optional><element name="jobtitle"><ref name="inlines"/></element></optional>
            <optional><element name="address"><ref name="inlines"/></element></optional>
          </element>
        </zeroOrMore>
        <optional>
          <element name="email"><ref name="inlines"/></element>
        </optional>
        <optional>
          <element name="uri"><ref name="inlines"/></element>
        </optional>
      </interleave>
    </element>
  </define>

  <define name="editor">
    <element name="editor">
      <ref name="db.common.attributes"/>
      <optional>
        <element name="personname">
          <ref name="db.common.attributes"/>
          <interleave>
            <optional><element name="firstname"><text/></element></optional>
            <optional><element name="surname"><text/></element></optional>
          </interleave>
        </element>
      </optional>
    </element>
  </define>

  <define name="othercredit">
    <element name="othercredit">
      <ref name="db.common.attributes"/>
      <optional>
        <element name="personname">
          <ref name="db.common.attributes"/>
          <interleave>
            <optional><element name="firstname"><text/></element></optional>
            <optional><element name="surname"><text/></element></optional>
          </interleave>
        </element>
      </optional>
    </element>
  </define>

  <define name="pubdate">
    <element name="pubdate"><text/></element>
  </define>

  <define name="date">
    <element name="date"><text/></element>
  </define>

  <define name="copyright">
    <element name="copyright">
      <ref name="db.common.attributes"/>
      <zeroOrMore>
        <element name="year"><data type="string"/></element>
      </zeroOrMore>
      <optional>
        <element name="holder"><text/></element>
      </optional>
    </element>
  </define>

  <define name="abstract">
    <element name="abstract">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="keywordset">
    <element name="keywordset">
      <ref name="db.common.attributes"/>
      <oneOrMore>
        <element name="keyword"><text/></element>
      </oneOrMore>
    </element>
  </define>

  <define name="releaseinfo">
    <element name="releaseinfo"><ref name="inlines"/></element>
  </define>

  <define name="legalnotice">
    <element name="legalnotice">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="revhistory">
    <element name="revhistory">
      <ref name="db.common.attributes"/>
      <oneOrMore>
        <element name="revision">
          <ref name="db.common.attributes"/>
          <interleave>
            <optional><element name="revnumber"><text/></element></optional>
            <optional><element name="date"><text/></element></optional>
            <optional>
              <element name="authorinitials"><text/></element>
            </optional>
            <optional>
              <element name="revremark"><ref name="inlines"/></element>
            </optional>
            <optional>
              <element name="revdescription"><ref name="blocks"/></element>
            </optional>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>

  <!-- Block elements -->
  <define name="para">
    <element name="para">
      <ref name="db.common.attributes"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="emphasis"/>
          <ref name="link"/>
          <ref name="code"/>
          <ref name="literal"/>
          <ref name="command"/>
          <ref name="filename"/>
          <ref name="option"/>
          <ref name="replaceable"/>
          <ref name="varname"/>
          <ref name="classname"/>
          <ref name="methodname"/>
          <ref name="parameter"/>
          <ref name="type"/>
          <ref name="tag"/>
          <ref name="abbrev"/>
          <ref name="acronym"/>
          <ref name="citation"/>
          <ref name="footnote"/>
          <ref name="phrase"/>
          <ref name="subscript"/>
          <ref name="superscript"/>
          <ref name="trademark"/>
          <ref name="xref"/>
          <ref name="itemizedlist"/>
          <ref name="orderedlist"/>
          <ref name="programlisting"/>
          <ref name="screen"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="simpara">
    <element name="simpara"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="formalpara">
    <element name="formalpara">
      <ref name="db.common.attributes"/>
      <ref name="title"/>
      <ref name="para"/>
    </element>
  </define>

  <define name="programlisting">
    <element name="programlisting">
      <ref name="db.common.attributes"/>
      <optional><attribute name="language"><data type="string"/></attribute></optional>
      <optional><attribute name="linenumbering">
        <choice><value>numbered</value><value>unnumbered</value></choice>
      </attribute></optional>
      <text/>
    </element>
  </define>

  <define name="screen">
    <element name="screen">
      <ref name="db.common.attributes"/>
      <text/>
    </element>
  </define>

  <define name="literallayout">
    <element name="literallayout">
      <ref name="db.common.attributes"/>
      <optional><attribute name="class"><data type="string"/></attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>

  <define name="note">
    <element name="note">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="warning">
    <element name="warning">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="caution">
    <element name="caution">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="tip">
    <element name="tip">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="important">
    <element name="important">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="itemizedlist">
    <element name="itemizedlist">
      <ref name="db.common.attributes"/>
      <optional><attribute name="mark"><data type="string"/></attribute></optional>
      <optional><attribute name="spacing">
        <choice><value>compact</value><value>normal</value></choice>
      </attribute></optional>
      <optional><ref name="title"/></optional>
      <oneOrMore>
        <element name="listitem">
          <ref name="db.common.attributes"/>
          <optional><attribute name="override"><data type="string"/></attribute></optional>
          <ref name="blocks"/>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="orderedlist">
    <element name="orderedlist">
      <ref name="db.common.attributes"/>
      <optional><attribute name="numeration"><data type="string"/></attribute></optional>
      <optional><attribute name="spacing">
        <choice><value>compact</value><value>normal</value></choice>
      </attribute></optional>
      <optional><ref name="title"/></optional>
      <oneOrMore>
        <element name="listitem">
          <ref name="db.common.attributes"/>
          <optional><attribute name="override"><data type="string"/></attribute></optional>
          <ref name="blocks"/>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="variablelist">
    <element name="variablelist">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <oneOrMore>
        <element name="varlistentry">
          <ref name="db.common.attributes"/>
          <oneOrMore>
            <element name="term"><ref name="inlines"/></element>
          </oneOrMore>
          <oneOrMore>
            <element name="listitem">
              <ref name="db.common.attributes"/>
              <ref name="blocks"/>
            </element>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="table">
    <element name="table">
      <ref name="db.common.attributes"/>
      <optional><attribute name="frame"><data type="string"/></attribute></optional>
      <optional><attribute name="rowsep"><data type="integer"/></attribute></optional>
      <optional><attribute name="colsep"><data type="integer"/></attribute></optional>
      <optional><ref name="title"/></optional>
      <oneOrMore>
        <element name="tgroup">
          <ref name="db.common.attributes"/>
          <attribute name="cols"><data type="positiveInteger"/></attribute>
          <optional><attribute name="align"><data type="string"/></attribute></optional>
          <optional>
            <element name="colspec">
              <ref name="db.common.attributes"/>
              <optional><attribute name="colname"><data type="NMTOKEN"/></attribute></optional>
              <optional><attribute name="colwidth"><data type="string"/></attribute></optional>
              <optional><attribute name="colnum"><data type="positiveInteger"/></attribute></optional>
            </element>
          </optional>
          <optional>
            <element name="thead">
              <ref name="db.common.attributes"/>
              <oneOrMore><ref name="trow"/></oneOrMore>
            </element>
          </optional>
          <optional>
            <element name="tfoot">
              <ref name="db.common.attributes"/>
              <oneOrMore><ref name="trow"/></oneOrMore>
            </element>
          </optional>
          <element name="tbody">
            <ref name="db.common.attributes"/>
            <oneOrMore><ref name="trow"/></oneOrMore>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="informaltable">
    <element name="informaltable">
      <ref name="db.common.attributes"/>
      <oneOrMore>
        <element name="tgroup">
          <ref name="db.common.attributes"/>
          <attribute name="cols"><data type="positiveInteger"/></attribute>
          <element name="tbody">
            <ref name="db.common.attributes"/>
            <oneOrMore><ref name="trow"/></oneOrMore>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="trow">
    <element name="row">
      <ref name="db.common.attributes"/>
      <oneOrMore>
        <element name="entry">
          <ref name="db.common.attributes"/>
          <optional><attribute name="colname"><data type="NMTOKEN"/></attribute></optional>
          <optional><attribute name="namest"><data type="NMTOKEN"/></attribute></optional>
          <optional><attribute name="nameend"><data type="NMTOKEN"/></attribute></optional>
          <optional><attribute name="morerows"><data type="positiveInteger"/></attribute></optional>
          <optional><attribute name="align"><data type="string"/></attribute></optional>
          <optional><attribute name="valign"><data type="string"/></attribute></optional>
          <ref name="blocks"/>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="blockquote">
    <element name="blockquote">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <optional>
        <element name="attribution"><ref name="inlines"/></element>
      </optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="procedure">
    <element name="procedure">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <oneOrMore>
        <element name="step">
          <ref name="db.common.attributes"/>
          <optional><ref name="title"/></optional>
          <ref name="blocks"/>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="sidebar">
    <element name="sidebar">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="example">
    <element name="example">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="figure">
    <element name="figure">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <ref name="mediaobject"/>
    </element>
  </define>

  <define name="mediaobject">
    <element name="mediaobject">
      <ref name="db.common.attributes"/>
      <oneOrMore>
        <element name="imageobject">
          <ref name="db.common.attributes"/>
          <element name="imagedata">
            <ref name="db.common.attributes"/>
            <optional><attribute name="fileref"><data type="anyURI"/></attribute></optional>
            <optional><attribute name="format"><data type="NMTOKEN"/></attribute></optional>
            <optional><attribute name="width"><data type="string"/></attribute></optional>
            <optional><attribute name="depth"><data type="string"/></attribute></optional>
          </element>
        </element>
      </oneOrMore>
      <optional>
        <element name="textobject">
          <ref name="db.common.attributes"/>
          <ref name="blocks"/>
        </element>
      </optional>
    </element>
  </define>

  <!-- Inline elements -->
  <define name="emphasis">
    <element name="emphasis">
      <ref name="db.common.attributes"/>
      <ref name="inlines"/>
    </element>
  </define>

  <define name="link">
    <element name="link">
      <ref name="db.common.attributes"/>
      <ref name="xlink.attribs"/>
      <optional><attribute name="linkend"><data type="IDREF"/></attribute></optional>
      <optional><attribute name="endterm"><data type="IDREF"/></attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>

  <define name="xref">
    <element name="xref">
      <ref name="db.common.attributes"/>
      <ref name="xlink.attribs"/>
      <optional><attribute name="linkend"><data type="IDREF"/></attribute></optional>
      <optional><attribute name="endterm"><data type="IDREF"/></attribute></optional>
    </element>
  </define>

  <define name="code">
    <element name="code">
      <ref name="db.common.attributes"/>
      <optional><attribute name="language"><data type="string"/></attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>

  <define name="literal">
    <element name="literal"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="command">
    <element name="command"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="filename">
    <element name="filename">
      <ref name="db.common.attributes"/>
      <optional><attribute name="class"><data type="string"/></attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>

  <define name="option">
    <element name="option"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="replaceable">
    <element name="replaceable"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="varname">
    <element name="varname"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="classname">
    <element name="classname"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="methodname">
    <element name="methodname"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="parameter">
    <element name="parameter"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="type">
    <element name="type"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="tag">
    <element name="tag">
      <ref name="db.common.attributes"/>
      <optional><attribute name="class"><data type="string"/></attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>

  <define name="abbrev">
    <element name="abbrev"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="acronym">
    <element name="acronym"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="citation">
    <element name="citation"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="footnote">
    <element name="footnote">
      <ref name="db.common.attributes"/>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="phrase">
    <element name="phrase">
      <ref name="db.common.attributes"/>
      <ref name="inlines"/>
    </element>
  </define>

  <define name="subscript">
    <element name="subscript"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="superscript">
    <element name="superscript"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="trademark">
    <element name="trademark">
      <ref name="db.common.attributes"/>
      <optional><attribute name="class">
        <choice>
          <value>copyright</value><value>registered</value>
          <value>service</value><value>trade</value>
        </choice>
      </attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>

</grammar>
