testdata/real-world/docbook5-full.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Extended DocBook 5 schema for stress testing.
  Expands the subset schema with:
  - Reference entries (refentry, refmeta, refnamediv, refsection)
  - Synopsis elements (funcsynopsis, cmdsynopsis)
  - Glossary, bibliography, index structures
  - Q&A sets (qandaset, qandaentry)
  - Callouts (calloutlist, callout, co)
  - Additional inlines (uri, userinput, computeroutput, prompt, etc.)
  - Index terms (indexterm, primary, secondary)
  - More interleave patterns for stress testing
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:db="http://docbook.org/ns/docbook"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://docbook.org/ns/docbook">

  <start>
    <choice>
      <ref name="article"/>
      <ref name="book"/>
      <ref name="refentry"/>
    </choice>
  </start>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Common attribute groups
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="db.common.attributes">
    <optional><attribute name="xml:id"><data type="ID"/></attribute></optional>
    <optional><attribute name="xml:lang"><data type="language"/></attribute></optional>
    <optional><attribute name="xml:base"><data type="anyURI"/></attribute></optional>
    <optional><attribute name="version"><data type="string"/></attribute></optional>
    <optional><attribute name="role"><data type="string"/></attribute></optional>
    <optional><attribute name="revisionflag">
      <choice>
        <value>changed</value><value>added</value>
        <value>deleted</value><value>off</value>
      </choice>
    </attribute></optional>
    <optional><attribute name="arch"><data type="string"/></attribute></optional>
    <optional><attribute name="audience"><data type="string"/></attribute></optional>
    <optional><attribute name="condition"><data type="string"/></attribute></optional>
    <optional><attribute name="conformance"><data type="string"/></attribute></optional>
    <optional><attribute name="os"><data type="string"/></attribute></optional>
    <optional><attribute name="revision"><data type="string"/></attribute></optional>
    <optional><attribute name="security"><data type="string"/></attribute></optional>
    <optional><attribute name="userlevel"><data type="string"/></attribute></optional>
    <optional><attribute name="vendor"><data type="string"/></attribute></optional>
    <optional><attribute name="wordsize"><data type="string"/></attribute></optional>
    <optional><attribute name="annotations"><data type="string"/></attribute></optional>
    <zeroOrMore>
      <attribute>
        <anyName>
          <except>
            <nsName ns="http://docbook.org/ns/docbook"/>
            <nsName ns=""/>
            <nsName ns="http://www.w3.org/XML/1998/namespace"/>
            <nsName ns="http://www.w3.org/1999/xlink"/>
          </except>
        </anyName>
      </attribute>
    </zeroOrMore>
  </define>

  <define name="xlink.attribs">
    <optional><attribute name="xlink:href"><data type="anyURI"/></attribute></optional>
    <optional><attribute name="xlink:type"><data type="string"/></attribute></optional>
    <optional><attribute name="xlink:role"><data type="anyURI"/></attribute></optional>
    <optional><attribute name="xlink:title"><data type="string"/></attribute></optional>
    <optional><attribute name="xlink:show"><data type="string"/></attribute></optional>
    <optional><attribute name="xlink:actuate"><data type="string"/></attribute></optional>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Content models
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="inlines">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="emphasis"/>
        <ref name="link"/>
        <ref name="code"/>
        <ref name="literal"/>
        <ref name="command"/>
        <ref name="filename"/>
        <ref name="option"/>
        <ref name="replaceable"/>
        <ref name="varname"/>
        <ref name="classname"/>
        <ref name="methodname"/>
        <ref name="parameter"/>
        <ref name="type"/>
        <ref name="tag"/>
        <ref name="abbrev"/>
        <ref name="acronym"/>
        <ref name="citation"/>
        <ref name="footnote"/>
        <ref name="phrase"/>
        <ref name="subscript"/>
        <ref name="superscript"/>
        <ref name="trademark"/>
        <ref name="xref"/>
        <!-- New inlines -->
        <ref name="uri"/>
        <ref name="userinput"/>
        <ref name="computeroutput"/>
        <ref name="prompt"/>
        <ref name="systemitem"/>
        <ref name="package"/>
        <ref name="application"/>
        <ref name="guimenu"/>
        <ref name="guibutton"/>
        <ref name="guilabel"/>
        <ref name="keycap"/>
        <ref name="keycombo"/>
        <ref name="menuchoice"/>
        <ref name="citetitle"/>
        <ref name="quote"/>
        <ref name="foreignphrase"/>
        <ref name="wordasword"/>
        <ref name="firstterm"/>
        <ref name="glossterm"/>
        <ref name="indexterm"/>
        <ref name="co"/>
        <ref name="anchor"/>
        <ref name="remark"/>
        <ref name="function"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="blocks">
    <zeroOrMore>
      <choice>
        <ref name="para"/>
        <ref name="simpara"/>
        <ref name="formalpara"/>
        <ref name="programlisting"/>
        <ref name="screen"/>
        <ref name="literallayout"/>
        <ref name="note"/>
        <ref name="warning"/>
        <ref name="caution"/>
        <ref name="tip"/>
        <ref name="important"/>
        <ref name="itemizedlist"/>
        <ref name="orderedlist"/>
        <ref name="variablelist"/>
        <ref name="table"/>
        <ref name="informaltable"/>
        <ref name="example"/>
        <ref name="figure"/>
        <ref name="blockquote"/>
        <ref name="procedure"/>
        <ref name="sidebar"/>
        <ref name="mediaobject"/>
        <!-- New blocks -->
        <ref name="funcsynopsis"/>
        <ref name="cmdsynopsis"/>
        <ref name="synopsis"/>
        <ref name="calloutlist"/>
        <ref name="qandaset"/>
        <ref name="segmentedlist"/>
        <ref name="simplelist"/>
        <ref name="bridgehead"/>
        <ref name="informalexample"/>
        <ref name="informalfigure"/>
        <ref name="epigraph"/>
        <ref name="indexterm"/>
        <ref name="remark"/>
        <ref name="anchor"/>
      </choice>
    </zeroOrMore>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Top-level structures
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="article">
    <element name="article">
      <ref name="db.common.attributes"/>
      <optional>
        <attribute name="class">
          <choice>
            <value>faq</value><value>journalarticle</value>
            <value>productsheet</value><value>specification</value>
            <value>techreport</value><value>whitepaper</value>
          </choice>
        </attribute>
      </optional>
      <optional><ref name="info"/></optional>
      <ref name="blocks"/>
      <zeroOrMore><ref name="section"/></zeroOrMore>
      <optional><ref name="glossary"/></optional>
      <optional><ref name="bibliography"/></optional>
      <optional><ref name="index"/></optional>
    </element>
  </define>

  <define name="book">
    <element name="book">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="preface"/></optional>
      <zeroOrMore>
        <choice>
          <ref name="chapter"/>
          <ref name="appendix"/>
          <ref name="part"/>
          <ref name="reference"/>
        </choice>
      </zeroOrMore>
      <optional><ref name="glossary"/></optional>
      <optional><ref name="bibliography"/></optional>
      <optional><ref name="index"/></optional>
      <optional><ref name="colophon"/></optional>
    </element>
  </define>

  <define name="preface">
    <element name="preface">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="colophon">
    <element name="colophon">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="chapter">
    <element name="chapter">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
      <zeroOrMore><ref name="section"/></zeroOrMore>
    </element>
  </define>

  <define name="appendix">
    <element name="appendix">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
      <zeroOrMore><ref name="section"/></zeroOrMore>
    </element>
  </define>

  <define name="part">
    <element name="part">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <optional><ref name="partintro"/></optional>
      <zeroOrMore>
        <choice>
          <ref name="chapter"/>
          <ref name="reference"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="partintro">
    <element name="partintro">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="section">
    <element name="section">
      <ref name="db.common.attributes"/>
      <optional><attribute name="label"><data type="string"/></attribute></optional>
      <optional><attribute name="status"><data type="string"/></attribute></optional>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
      <zeroOrMore><ref name="section"/></zeroOrMore>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Reference entries (man pages)
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="reference">
    <element name="reference">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <optional><ref name="partintro"/></optional>
      <zeroOrMore><ref name="refentry"/></zeroOrMore>
    </element>
  </define>

  <define name="refentry">
    <element name="refentry">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="refmeta"/></optional>
      <ref name="refnamediv"/>
      <optional><ref name="refsynopsisdiv"/></optional>
      <zeroOrMore><ref name="refsection"/></zeroOrMore>
    </element>
  </define>

  <define name="refmeta">
    <element name="refmeta">
      <ref name="db.common.attributes"/>
      <interleave>
        <element name="refentrytitle"><ref name="inlines"/></element>
        <optional><element name="manvolnum"><text/></element></optional>
        <optional><element name="refmiscinfo">
          <ref name="db.common.attributes"/>
          <optional><attribute name="class"><data type="string"/></attribute></optional>
          <ref name="inlines"/>
        </element></optional>
      </interleave>
    </element>
  </define>

  <define name="refnamediv">
    <element name="refnamediv">
      <ref name="db.common.attributes"/>
      <zeroOrMore>
        <element name="refname"><ref name="inlines"/></element>
      </zeroOrMore>
      <element name="refpurpose"><ref name="inlines"/></element>
      <zeroOrMore>
        <element name="refclass"><ref name="inlines"/></element>
      </zeroOrMore>
    </element>
  </define>

  <define name="refsynopsisdiv">
    <element name="refsynopsisdiv">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="refsection">
    <element name="refsection">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
      <zeroOrMore><ref name="refsection"/></zeroOrMore>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Synopsis elements
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="funcsynopsis">
    <element name="funcsynopsis">
      <ref name="db.common.attributes"/>
      <zeroOrMore>
        <choice>
          <ref name="funcsynopsisinfo"/>
          <ref name="funcprototype"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="funcsynopsisinfo">
    <element name="funcsynopsisinfo">
      <ref name="db.common.attributes"/>
      <ref name="inlines"/>
    </element>
  </define>

  <define name="funcprototype">
    <element name="funcprototype">
      <ref name="db.common.attributes"/>
      <element name="funcdef">
        <ref name="db.common.attributes"/>
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="function"/>
            <ref name="type"/>
            <ref name="replaceable"/>
          </choice>
        </zeroOrMore>
      </element>
      <zeroOrMore>
        <choice>
          <ref name="paramdef"/>
          <element name="void"><empty/></element>
          <element name="varargs"><empty/></element>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="paramdef">
    <element name="paramdef">
      <ref name="db.common.attributes"/>
      <optional><attribute name="choice">
        <choice><value>opt</value><value>req</value></choice>
      </attribute></optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="parameter"/>
          <ref name="type"/>
          <element name="funcparams"><text/></element>
          <ref name="replaceable"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="cmdsynopsis">
    <element name="cmdsynopsis">
      <ref name="db.common.attributes"/>
      <optional><attribute name="sepchar"><data type="string"/></attribute></optional>
      <optional><attribute name="cmdlength"><data type="string"/></attribute></optional>
      <zeroOrMore>
        <choice>
          <ref name="command"/>
          <element name="arg">
            <ref name="db.common.attributes"/>
            <optional><attribute name="choice">
              <choice><value>opt</value><value>req</value><value>plain</value></choice>
            </attribute></optional>
            <optional><attribute name="rep">
              <choice><value>norepeat</value><value>repeat</value></choice>
            </attribute></optional>
            <ref name="inlines"/>
          </element>
          <element name="group">
            <ref name="db.common.attributes"/>
            <optional><attribute name="choice">
              <choice><value>opt</value><value>req</value><value>plain</value></choice>
            </attribute></optional>
            <optional><attribute name="rep">
              <choice><value>norepeat</value><value>repeat</value></choice>
            </attribute></optional>
            <ref name="inlines"/>
          </element>
          <element name="sbr"><empty/></element>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="synopsis">
    <element name="synopsis">
      <ref name="db.common.attributes"/>
      <optional><attribute name="label"><data type="string"/></attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Glossary, Bibliography, Index
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="glossary">
    <element name="glossary">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
      <zeroOrMore>
        <choice>
          <ref name="glossdiv"/>
          <ref name="glossentry"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="glossdiv">
    <element name="glossdiv">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
      <zeroOrMore><ref name="glossentry"/></zeroOrMore>
    </element>
  </define>

  <define name="glossentry">
    <element name="glossentry">
      <ref name="db.common.attributes"/>
      <optional><attribute name="sortas"><data type="string"/></attribute></optional>
      <ref name="glossterm"/>
      <optional><element name="acronym"><ref name="db.common.attributes"/><ref name="inlines"/></element></optional>
      <zeroOrMore>
        <element name="glossdef">
          <ref name="db.common.attributes"/>
          <ref name="blocks"/>
          <zeroOrMore>
            <element name="glossseealso">
              <ref name="db.common.attributes"/>
              <optional><attribute name="otherterm"><data type="IDREF"/></attribute></optional>
              <ref name="inlines"/>
            </element>
          </zeroOrMore>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="glosssee">
          <ref name="db.common.attributes"/>
          <optional><attribute name="otherterm"><data type="IDREF"/></attribute></optional>
          <ref name="inlines"/>
        </element>
      </zeroOrMore>
    </element>
  </define>

  <define name="bibliography">
    <element name="bibliography">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
      <zeroOrMore>
        <choice>
          <ref name="bibliodiv"/>
          <ref name="biblioentry"/>
          <ref name="bibliomixed"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="bibliodiv">
    <element name="bibliodiv">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
      <zeroOrMore>
        <choice>
          <ref name="biblioentry"/>
          <ref name="bibliomixed"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="biblioentry">
    <element name="biblioentry">
      <ref name="db.common.attributes"/>
      <interleave>
        <optional><ref name="title"/></optional>
        <zeroOrMore><ref name="author"/></zeroOrMore>
        <optional><ref name="pubdate"/></optional>
        <optional><element name="publisher">
          <ref name="db.common.attributes"/>
          <element name="publishername"><ref name="inlines"/></element>
          <optional><element name="address"><ref name="inlines"/></element></optional>
        </element></optional>
        <optional><element name="isbn"><text/></element></optional>
        <optional><element name="issn"><text/></element></optional>
        <optional><element name="biblioid">
          <ref name="db.common.attributes"/>
          <optional><attribute name="class"><data type="string"/></attribute></optional>
          <text/>
        </element></optional>
        <optional><ref name="abstract"/></optional>
        <zeroOrMore><ref name="indexterm"/></zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="bibliomixed">
    <element name="bibliomixed">
      <ref name="db.common.attributes"/>
      <ref name="inlines"/>
    </element>
  </define>

  <define name="index">
    <element name="index">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
      <zeroOrMore>
        <element name="indexdiv">
          <ref name="db.common.attributes"/>
          <optional><ref name="title"/></optional>
          <ref name="blocks"/>
        </element>
      </zeroOrMore>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Info block (with heavy interleave)
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="info">
    <element name="info">
      <ref name="db.common.attributes"/>
      <interleave>
        <optional><ref name="title"/></optional>
        <optional><ref name="subtitle"/></optional>
        <optional><element name="titleabbrev"><ref name="inlines"/></element></optional>
        <zeroOrMore><ref name="author"/></zeroOrMore>
        <zeroOrMore><ref name="editor"/></zeroOrMore>
        <zeroOrMore><ref name="othercredit"/></zeroOrMore>
        <optional><ref name="pubdate"/></optional>
        <optional><ref name="date"/></optional>
        <optional><ref name="copyright"/></optional>
        <optional><ref name="abstract"/></optional>
        <zeroOrMore><ref name="keywordset"/></zeroOrMore>
        <zeroOrMore><ref name="subjectset"/></zeroOrMore>
        <optional><ref name="releaseinfo"/></optional>
        <optional><ref name="revhistory"/></optional>
        <optional><ref name="legalnotice"/></optional>
        <optional>
          <element name="edition"><ref name="inlines"/></element>
        </optional>
        <optional>
          <element name="productname">
            <ref name="db.common.attributes"/>
            <optional><attribute name="class"><data type="string"/></attribute></optional>
            <ref name="inlines"/>
          </element>
        </optional>
        <optional><element name="productnumber"><ref name="inlines"/></element></optional>
        <optional><element name="volumenum"><ref name="inlines"/></element></optional>
        <optional><element name="issuenum"><ref name="inlines"/></element></optional>
        <optional><element name="collab"><ref name="db.common.attributes"/>
          <element name="orgname"><ref name="inlines"/></element>
        </element></optional>
        <zeroOrMore><ref name="indexterm"/></zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="title">
    <element name="title"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="subtitle">
    <element name="subtitle"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="author">
    <element name="author">
      <ref name="db.common.attributes"/>
      <interleave>
        <optional>
          <element name="personname">
            <ref name="db.common.attributes"/>
            <interleave>
              <optional><element name="firstname"><text/></element></optional>
              <optional><element name="surname"><text/></element></optional>
              <optional><element name="othername"><text/></element></optional>
              <optional><element name="honorific"><text/></element></optional>
              <optional><element name="lineage"><text/></element></optional>
            </interleave>
          </element>
        </optional>
        <zeroOrMore>
          <element name="affiliation">
            <ref name="db.common.attributes"/>
            <optional><element name="orgname"><ref name="inlines"/></element></optional>
            <optional><element name="jobtitle"><ref name="inlines"/></element></optional>
            <optional><element name="address"><ref name="inlines"/></element></optional>
          </element>
        </zeroOrMore>
        <optional><element name="email"><ref name="inlines"/></element></optional>
        <optional><element name="uri"><ref name="inlines"/></element></optional>
      </interleave>
    </element>
  </define>

  <define name="editor">
    <element name="editor">
      <ref name="db.common.attributes"/>
      <optional>
        <element name="personname">
          <ref name="db.common.attributes"/>
          <interleave>
            <optional><element name="firstname"><text/></element></optional>
            <optional><element name="surname"><text/></element></optional>
          </interleave>
        </element>
      </optional>
    </element>
  </define>

  <define name="othercredit">
    <element name="othercredit">
      <ref name="db.common.attributes"/>
      <optional>
        <element name="personname">
          <ref name="db.common.attributes"/>
          <interleave>
            <optional><element name="firstname"><text/></element></optional>
            <optional><element name="surname"><text/></element></optional>
          </interleave>
        </element>
      </optional>
    </element>
  </define>

  <define name="pubdate"><element name="pubdate"><text/></element></define>
  <define name="date"><element name="date"><text/></element></define>

  <define name="copyright">
    <element name="copyright">
      <ref name="db.common.attributes"/>
      <zeroOrMore>
        <element name="year"><data type="gYear" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/></element>
      </zeroOrMore>
      <optional><element name="holder"><text/></element></optional>
    </element>
  </define>

  <define name="abstract">
    <element name="abstract">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="keywordset">
    <element name="keywordset">
      <ref name="db.common.attributes"/>
      <oneOrMore><element name="keyword"><text/></element></oneOrMore>
    </element>
  </define>

  <define name="subjectset">
    <element name="subjectset">
      <ref name="db.common.attributes"/>
      <optional><attribute name="scheme"><data type="string"/></attribute></optional>
      <oneOrMore>
        <element name="subject">
          <ref name="db.common.attributes"/>
          <oneOrMore><element name="subjectterm"><text/></element></oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="releaseinfo">
    <element name="releaseinfo"><ref name="inlines"/></element>
  </define>

  <define name="legalnotice">
    <element name="legalnotice">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="revhistory">
    <element name="revhistory">
      <ref name="db.common.attributes"/>
      <oneOrMore>
        <element name="revision">
          <ref name="db.common.attributes"/>
          <interleave>
            <optional><element name="revnumber"><text/></element></optional>
            <optional><element name="date"><text/></element></optional>
            <optional><element name="authorinitials"><text/></element></optional>
            <optional><element name="revremark"><ref name="inlines"/></element></optional>
            <optional><element name="revdescription"><ref name="blocks"/></element></optional>
          </interleave>
        </element>
      </oneOrMore>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Block elements
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="para">
    <element name="para">
      <ref name="db.common.attributes"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="emphasis"/><ref name="link"/><ref name="code"/><ref name="literal"/>
          <ref name="command"/><ref name="filename"/><ref name="option"/><ref name="replaceable"/>
          <ref name="varname"/><ref name="classname"/><ref name="methodname"/>
          <ref name="parameter"/><ref name="type"/><ref name="tag"/>
          <ref name="abbrev"/><ref name="acronym"/><ref name="citation"/>
          <ref name="footnote"/><ref name="phrase"/><ref name="subscript"/>
          <ref name="superscript"/><ref name="trademark"/><ref name="xref"/>
          <ref name="uri"/><ref name="userinput"/><ref name="computeroutput"/>
          <ref name="prompt"/><ref name="systemitem"/><ref name="package"/>
          <ref name="application"/><ref name="guimenu"/><ref name="guibutton"/>
          <ref name="guilabel"/><ref name="keycap"/><ref name="keycombo"/>
          <ref name="menuchoice"/><ref name="citetitle"/><ref name="quote"/>
          <ref name="foreignphrase"/><ref name="wordasword"/><ref name="firstterm"/>
          <ref name="glossterm"/><ref name="indexterm"/><ref name="co"/>
          <ref name="anchor"/><ref name="remark"/><ref name="function"/>
          <ref name="itemizedlist"/><ref name="orderedlist"/>
          <ref name="programlisting"/><ref name="screen"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="simpara">
    <element name="simpara"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="formalpara">
    <element name="formalpara">
      <ref name="db.common.attributes"/>
      <ref name="title"/>
      <ref name="para"/>
    </element>
  </define>

  <define name="programlisting">
    <element name="programlisting">
      <ref name="db.common.attributes"/>
      <optional><attribute name="language"><data type="string"/></attribute></optional>
      <optional><attribute name="linenumbering">
        <choice><value>numbered</value><value>unnumbered</value></choice>
      </attribute></optional>
      <optional><attribute name="continuation">
        <choice><value>continues</value><value>restarts</value></choice>
      </attribute></optional>
      <optional><attribute name="startinglinenumber"><data type="positiveInteger"/></attribute></optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="co"/>
          <ref name="emphasis"/>
          <ref name="replaceable"/>
          <ref name="userinput"/>
          <ref name="computeroutput"/>
          <ref name="link"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="screen">
    <element name="screen">
      <ref name="db.common.attributes"/>
      <optional><attribute name="language"><data type="string"/></attribute></optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="co"/>
          <ref name="emphasis"/>
          <ref name="userinput"/>
          <ref name="computeroutput"/>
          <ref name="prompt"/>
          <ref name="replaceable"/>
          <ref name="link"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="literallayout">
    <element name="literallayout">
      <ref name="db.common.attributes"/>
      <optional><attribute name="class">
        <choice><value>monospaced</value><value>normal</value></choice>
      </attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>

  <!-- Admonitions -->
  <define name="note">
    <element name="note"><ref name="db.common.attributes"/><optional><ref name="title"/></optional><ref name="blocks"/></element>
  </define>
  <define name="warning">
    <element name="warning"><ref name="db.common.attributes"/><optional><ref name="title"/></optional><ref name="blocks"/></element>
  </define>
  <define name="caution">
    <element name="caution"><ref name="db.common.attributes"/><optional><ref name="title"/></optional><ref name="blocks"/></element>
  </define>
  <define name="tip">
    <element name="tip"><ref name="db.common.attributes"/><optional><ref name="title"/></optional><ref name="blocks"/></element>
  </define>
  <define name="important">
    <element name="important"><ref name="db.common.attributes"/><optional><ref name="title"/></optional><ref name="blocks"/></element>
  </define>

  <!-- Lists -->
  <define name="itemizedlist">
    <element name="itemizedlist">
      <ref name="db.common.attributes"/>
      <optional><attribute name="mark"><data type="string"/></attribute></optional>
      <optional><attribute name="spacing">
        <choice><value>compact</value><value>normal</value></choice>
      </attribute></optional>
      <optional><ref name="title"/></optional>
      <oneOrMore>
        <element name="listitem">
          <ref name="db.common.attributes"/>
          <optional><attribute name="override"><data type="string"/></attribute></optional>
          <ref name="blocks"/>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="orderedlist">
    <element name="orderedlist">
      <ref name="db.common.attributes"/>
      <optional><attribute name="numeration">
        <choice><value>arabic</value><value>loweralpha</value><value>lowerroman</value>
                <value>upperalpha</value><value>upperroman</value></choice>
      </attribute></optional>
      <optional><attribute name="spacing">
        <choice><value>compact</value><value>normal</value></choice>
      </attribute></optional>
      <optional><attribute name="startingnumber"><data type="positiveInteger"/></attribute></optional>
      <optional><attribute name="continuation">
        <choice><value>continues</value><value>restarts</value></choice>
      </attribute></optional>
      <optional><ref name="title"/></optional>
      <oneOrMore>
        <element name="listitem">
          <ref name="db.common.attributes"/>
          <optional><attribute name="override"><data type="string"/></attribute></optional>
          <ref name="blocks"/>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="variablelist">
    <element name="variablelist">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <oneOrMore>
        <element name="varlistentry">
          <ref name="db.common.attributes"/>
          <oneOrMore><element name="term"><ref name="inlines"/></element></oneOrMore>
          <oneOrMore>
            <element name="listitem"><ref name="db.common.attributes"/><ref name="blocks"/></element>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="simplelist">
    <element name="simplelist">
      <ref name="db.common.attributes"/>
      <optional><attribute name="type">
        <choice><value>inline</value><value>horiz</value><value>vert</value></choice>
      </attribute></optional>
      <optional><attribute name="columns"><data type="positiveInteger"/></attribute></optional>
      <oneOrMore>
        <element name="member"><ref name="inlines"/></element>
      </oneOrMore>
    </element>
  </define>

  <define name="segmentedlist">
    <element name="segmentedlist">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <oneOrMore><element name="segtitle"><ref name="inlines"/></element></oneOrMore>
      <oneOrMore>
        <element name="seglistitem">
          <ref name="db.common.attributes"/>
          <oneOrMore><element name="seg"><ref name="inlines"/></element></oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="calloutlist">
    <element name="calloutlist">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <oneOrMore>
        <element name="callout">
          <ref name="db.common.attributes"/>
          <attribute name="arearefs"><data type="IDREFS"/></attribute>
          <ref name="blocks"/>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="qandaset">
    <element name="qandaset">
      <ref name="db.common.attributes"/>
      <optional><attribute name="defaultlabel">
        <choice><value>qanda</value><value>number</value><value>none</value></choice>
      </attribute></optional>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
      <zeroOrMore>
        <choice>
          <ref name="qandadiv"/>
          <ref name="qandaentry"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="qandadiv">
    <element name="qandadiv">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
      <zeroOrMore><ref name="qandaentry"/></zeroOrMore>
    </element>
  </define>

  <define name="qandaentry">
    <element name="qandaentry">
      <ref name="db.common.attributes"/>
      <element name="question">
        <ref name="db.common.attributes"/>
        <optional><element name="label"><ref name="inlines"/></element></optional>
        <ref name="blocks"/>
      </element>
      <optional>
        <element name="answer">
          <ref name="db.common.attributes"/>
          <optional><element name="label"><ref name="inlines"/></element></optional>
          <ref name="blocks"/>
        </element>
      </optional>
    </element>
  </define>

  <!-- Tables -->
  <define name="table">
    <element name="table">
      <ref name="db.common.attributes"/>
      <optional><attribute name="frame"><data type="string"/></attribute></optional>
      <optional><attribute name="rowsep"><data type="integer"/></attribute></optional>
      <optional><attribute name="colsep"><data type="integer"/></attribute></optional>
      <optional><attribute name="pgwide"><data type="integer"/></attribute></optional>
      <optional><ref name="title"/></optional>
      <oneOrMore>
        <element name="tgroup">
          <ref name="db.common.attributes"/>
          <attribute name="cols"><data type="positiveInteger"/></attribute>
          <optional><attribute name="align"><data type="string"/></attribute></optional>
          <zeroOrMore>
            <element name="colspec">
              <ref name="db.common.attributes"/>
              <optional><attribute name="colname"><data type="NMTOKEN"/></attribute></optional>
              <optional><attribute name="colwidth"><data type="string"/></attribute></optional>
              <optional><attribute name="colnum"><data type="positiveInteger"/></attribute></optional>
            </element>
          </zeroOrMore>
          <optional>
            <element name="thead"><ref name="db.common.attributes"/><oneOrMore><ref name="trow"/></oneOrMore></element>
          </optional>
          <optional>
            <element name="tfoot"><ref name="db.common.attributes"/><oneOrMore><ref name="trow"/></oneOrMore></element>
          </optional>
          <element name="tbody"><ref name="db.common.attributes"/><oneOrMore><ref name="trow"/></oneOrMore></element>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="informaltable">
    <element name="informaltable">
      <ref name="db.common.attributes"/>
      <optional><attribute name="frame"><data type="string"/></attribute></optional>
      <oneOrMore>
        <element name="tgroup">
          <ref name="db.common.attributes"/>
          <attribute name="cols"><data type="positiveInteger"/></attribute>
          <element name="tbody"><ref name="db.common.attributes"/><oneOrMore><ref name="trow"/></oneOrMore></element>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="trow">
    <element name="row">
      <ref name="db.common.attributes"/>
      <oneOrMore>
        <element name="entry">
          <ref name="db.common.attributes"/>
          <optional><attribute name="colname"><data type="NMTOKEN"/></attribute></optional>
          <optional><attribute name="namest"><data type="NMTOKEN"/></attribute></optional>
          <optional><attribute name="nameend"><data type="NMTOKEN"/></attribute></optional>
          <optional><attribute name="morerows"><data type="positiveInteger"/></attribute></optional>
          <optional><attribute name="align"><data type="string"/></attribute></optional>
          <optional><attribute name="valign"><data type="string"/></attribute></optional>
          <zeroOrMore>
            <choice>
              <text/>
              <ref name="para"/><ref name="simpara"/>
              <ref name="programlisting"/><ref name="screen"/><ref name="literallayout"/>
              <ref name="itemizedlist"/><ref name="orderedlist"/><ref name="variablelist"/>
              <ref name="emphasis"/><ref name="link"/><ref name="code"/><ref name="literal"/>
              <ref name="command"/><ref name="filename"/><ref name="option"/><ref name="replaceable"/>
              <ref name="varname"/><ref name="classname"/><ref name="methodname"/>
              <ref name="parameter"/><ref name="type"/><ref name="tag"/>
              <ref name="function"/>
              <ref name="mediaobject"/>
            </choice>
          </zeroOrMore>
        </element>
      </oneOrMore>
    </element>
  </define>

  <!-- Other block elements -->
  <define name="blockquote">
    <element name="blockquote">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <optional><element name="attribution"><ref name="inlines"/></element></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="epigraph">
    <element name="epigraph">
      <ref name="db.common.attributes"/>
      <optional><element name="attribution"><ref name="inlines"/></element></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="procedure">
    <element name="procedure">
      <ref name="db.common.attributes"/>
      <optional><ref name="title"/></optional>
      <oneOrMore>
        <element name="step">
          <ref name="db.common.attributes"/>
          <optional><attribute name="performance">
            <choice><value>optional</value><value>required</value></choice>
          </attribute></optional>
          <optional><ref name="title"/></optional>
          <ref name="blocks"/>
          <zeroOrMore>
            <element name="substeps">
              <ref name="db.common.attributes"/>
              <oneOrMore>
                <element name="step">
                  <ref name="db.common.attributes"/>
                  <optional><ref name="title"/></optional>
                  <ref name="blocks"/>
                </element>
              </oneOrMore>
            </element>
          </zeroOrMore>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="sidebar">
    <element name="sidebar">
      <ref name="db.common.attributes"/>
      <optional><ref name="info"/></optional>
      <optional><ref name="title"/></optional>
      <ref name="blocks"/>
    </element>
  </define>

  <define name="example">
    <element name="example">
      <ref name="db.common.attributes"/><optional><ref name="title"/></optional><ref name="blocks"/>
    </element>
  </define>

  <define name="informalexample">
    <element name="informalexample"><ref name="db.common.attributes"/><ref name="blocks"/></element>
  </define>

  <define name="figure">
    <element name="figure">
      <ref name="db.common.attributes"/><optional><ref name="title"/></optional><ref name="mediaobject"/>
    </element>
  </define>

  <define name="informalfigure">
    <element name="informalfigure"><ref name="db.common.attributes"/><ref name="mediaobject"/></element>
  </define>

  <define name="mediaobject">
    <element name="mediaobject">
      <ref name="db.common.attributes"/>
      <oneOrMore>
        <element name="imageobject">
          <ref name="db.common.attributes"/>
          <element name="imagedata">
            <ref name="db.common.attributes"/>
            <optional><attribute name="fileref"><data type="anyURI"/></attribute></optional>
            <optional><attribute name="format"><data type="NMTOKEN"/></attribute></optional>
            <optional><attribute name="width"><data type="string"/></attribute></optional>
            <optional><attribute name="depth"><data type="string"/></attribute></optional>
            <optional><attribute name="contentwidth"><data type="string"/></attribute></optional>
            <optional><attribute name="contentdepth"><data type="string"/></attribute></optional>
            <optional><attribute name="scalefit"><data type="integer"/></attribute></optional>
            <optional><attribute name="scale"><data type="integer"/></attribute></optional>
            <optional><attribute name="align">
              <choice><value>left</value><value>center</value><value>right</value></choice>
            </attribute></optional>
          </element>
        </element>
      </oneOrMore>
      <optional>
        <element name="textobject"><ref name="db.common.attributes"/><ref name="blocks"/></element>
      </optional>
      <optional>
        <element name="caption"><ref name="db.common.attributes"/><ref name="blocks"/></element>
      </optional>
    </element>
  </define>

  <define name="bridgehead">
    <element name="bridgehead">
      <ref name="db.common.attributes"/>
      <optional><attribute name="renderas">
        <choice><value>sect1</value><value>sect2</value><value>sect3</value><value>sect4</value><value>sect5</value></choice>
      </attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Inline elements
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="emphasis">
    <element name="emphasis">
      <ref name="db.common.attributes"/>
      <!-- role is already provided by db.common.attributes -->
      <ref name="inlines"/>
    </element>
  </define>

  <define name="link">
    <element name="link">
      <ref name="db.common.attributes"/>
      <ref name="xlink.attribs"/>
      <optional><attribute name="linkend"><data type="IDREF"/></attribute></optional>
      <optional><attribute name="endterm"><data type="IDREF"/></attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>

  <define name="xref">
    <element name="xref">
      <ref name="db.common.attributes"/>
      <ref name="xlink.attribs"/>
      <optional><attribute name="linkend"><data type="IDREF"/></attribute></optional>
      <optional><attribute name="endterm"><data type="IDREF"/></attribute></optional>
    </element>
  </define>

  <define name="code">
    <element name="code">
      <ref name="db.common.attributes"/>
      <optional><attribute name="language"><data type="string"/></attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>

  <define name="literal"><element name="literal"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="command"><element name="command"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="filename">
    <element name="filename">
      <ref name="db.common.attributes"/>
      <optional><attribute name="class"><data type="string"/></attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>
  <define name="option"><element name="option"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="replaceable"><element name="replaceable"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="varname"><element name="varname"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="classname"><element name="classname"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="methodname"><element name="methodname"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="parameter"><element name="parameter"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="type"><element name="type"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="tag">
    <element name="tag">
      <ref name="db.common.attributes"/>
      <optional><attribute name="class"><data type="string"/></attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>
  <define name="abbrev"><element name="abbrev"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="acronym"><element name="acronym"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="citation"><element name="citation"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="footnote"><element name="footnote"><ref name="db.common.attributes"/><ref name="blocks"/></element></define>
  <define name="phrase"><element name="phrase"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="subscript"><element name="subscript"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="superscript"><element name="superscript"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="trademark">
    <element name="trademark">
      <ref name="db.common.attributes"/>
      <optional><attribute name="class">
        <choice><value>copyright</value><value>registered</value><value>service</value><value>trade</value></choice>
      </attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>

  <!-- New inline elements -->
  <define name="uri"><element name="uri"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="userinput"><element name="userinput"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="computeroutput"><element name="computeroutput"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="prompt"><element name="prompt"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="systemitem">
    <element name="systemitem">
      <ref name="db.common.attributes"/>
      <optional><attribute name="class"><data type="string"/></attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>
  <define name="package"><element name="package"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="application"><element name="application"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="guimenu"><element name="guimenu"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="guibutton"><element name="guibutton"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="guilabel"><element name="guilabel"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="keycap"><element name="keycap"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="keycombo">
    <element name="keycombo">
      <ref name="db.common.attributes"/>
      <optional><attribute name="action">
        <choice><value>click</value><value>double-click</value><value>press</value>
                <value>seq</value><value>simul</value></choice>
      </attribute></optional>
      <oneOrMore>
        <choice><ref name="keycap"/><ref name="keycombo"/><ref name="keysym"/></choice>
      </oneOrMore>
    </element>
  </define>
  <define name="keysym"><element name="keysym"><ref name="db.common.attributes"/><text/></element></define>
  <define name="menuchoice">
    <element name="menuchoice">
      <ref name="db.common.attributes"/>
      <oneOrMore>
        <choice><ref name="guimenu"/><ref name="guibutton"/><ref name="guilabel"/></choice>
      </oneOrMore>
    </element>
  </define>
  <define name="citetitle">
    <element name="citetitle">
      <ref name="db.common.attributes"/>
      <optional><attribute name="pubwork">
        <choice><value>article</value><value>book</value><value>chapter</value>
                <value>journal</value><value>part</value><value>refentry</value>
                <value>section</value><value>set</value><value>wiki</value></choice>
      </attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>
  <define name="quote"><element name="quote"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="foreignphrase"><element name="foreignphrase"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="wordasword"><element name="wordasword"><ref name="db.common.attributes"/><ref name="inlines"/></element></define>
  <define name="firstterm">
    <element name="firstterm">
      <ref name="db.common.attributes"/>
      <optional><attribute name="baseform"><data type="string"/></attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>
  <define name="glossterm">
    <element name="glossterm">
      <ref name="db.common.attributes"/>
      <optional><attribute name="baseform"><data type="string"/></attribute></optional>
      <ref name="inlines"/>
    </element>
  </define>

  <!-- Index terms -->
  <define name="indexterm">
    <element name="indexterm">
      <ref name="db.common.attributes"/>
      <optional><attribute name="significance">
        <choice><value>normal</value><value>preferred</value></choice>
      </attribute></optional>
      <optional><attribute name="zone"><data type="IDREFS"/></attribute></optional>
      <optional><attribute name="type"><data type="string"/></attribute></optional>
      <optional><attribute name="class">
        <choice><value>singular</value><value>startofrange</value><value>endofrange</value></choice>
      </attribute></optional>
      <element name="primary">
        <ref name="db.common.attributes"/>
        <optional><attribute name="sortas"><data type="string"/></attribute></optional>
        <ref name="inlines"/>
      </element>
      <optional>
        <element name="secondary">
          <ref name="db.common.attributes"/>
          <optional><attribute name="sortas"><data type="string"/></attribute></optional>
          <ref name="inlines"/>
        </element>
      </optional>
      <optional>
        <element name="tertiary">
          <ref name="db.common.attributes"/>
          <optional><attribute name="sortas"><data type="string"/></attribute></optional>
          <ref name="inlines"/>
        </element>
      </optional>
      <zeroOrMore>
        <choice>
          <element name="see"><ref name="inlines"/></element>
          <element name="seealso"><ref name="inlines"/></element>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="co">
    <element name="co">
      <attribute name="xml:id"><data type="ID"/></attribute>
      <optional><attribute name="linkends"><data type="IDREFS"/></attribute></optional>
      <optional><attribute name="label"><data type="string"/></attribute></optional>
    </element>
  </define>

  <define name="anchor">
    <element name="anchor">
      <attribute name="xml:id"><data type="ID"/></attribute>
    </element>
  </define>

  <define name="remark">
    <element name="remark"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

  <define name="function">
    <element name="function"><ref name="db.common.attributes"/><ref name="inlines"/></element>
  </define>

</grammar>
