testdata/real-world/svg11.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  RELAX NG schema for SVG 1.1 (core subset).
  Covers the most commonly used SVG elements and attributes.

  Exercises:
  - Multiple namespaces (SVG + XLink)
  - Numeric datatypes (decimal, float, integer)
  - List patterns (viewBox as space-separated numbers)
  - Large choice trees (presentation attributes)
  - anyName wildcards (extensibility attributes)
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:svg="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.w3.org/2000/svg">

  <start>
    <ref name="svg"/>
  </start>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Common attribute groups
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="svg.core.attrib">
    <optional><attribute name="id"><data type="ID"/></attribute></optional>
    <optional><attribute name="xml:lang"><data type="language"/></attribute></optional>
    <optional><attribute name="xml:space">
      <choice><value>default</value><value>preserve</value></choice>
    </attribute></optional>
    <optional><attribute name="xml:base"><data type="anyURI"/></attribute></optional>
    <optional><attribute name="class"><data type="NMTOKENS"/></attribute></optional>
    <optional><attribute name="style"><data type="string"/></attribute></optional>
  </define>

  <define name="svg.xlink.attrib">
    <optional><attribute name="xlink:href"><data type="anyURI"/></attribute></optional>
    <optional><attribute name="xlink:type"><data type="string"/></attribute></optional>
    <optional><attribute name="xlink:role"><data type="anyURI"/></attribute></optional>
    <optional><attribute name="xlink:arcrole"><data type="anyURI"/></attribute></optional>
    <optional><attribute name="xlink:title"><data type="string"/></attribute></optional>
    <optional><attribute name="xlink:show">
      <choice><value>new</value><value>replace</value><value>embed</value><value>other</value><value>none</value></choice>
    </attribute></optional>
    <optional><attribute name="xlink:actuate">
      <choice><value>onLoad</value><value>onRequest</value><value>other</value><value>none</value></choice>
    </attribute></optional>
  </define>

  <!-- Presentation attributes (fill, stroke, opacity, etc.) -->
  <define name="svg.presentation.attrib">
    <optional><attribute name="fill"><data type="string"/></attribute></optional>
    <optional><attribute name="fill-opacity"><data type="string"/></attribute></optional>
    <optional><attribute name="fill-rule">
      <choice><value>nonzero</value><value>evenodd</value><value>inherit</value></choice>
    </attribute></optional>
    <optional><attribute name="stroke"><data type="string"/></attribute></optional>
    <optional><attribute name="stroke-width"><data type="string"/></attribute></optional>
    <optional><attribute name="stroke-opacity"><data type="string"/></attribute></optional>
    <optional><attribute name="stroke-linecap">
      <choice><value>butt</value><value>round</value><value>square</value><value>inherit</value></choice>
    </attribute></optional>
    <optional><attribute name="stroke-linejoin">
      <choice><value>miter</value><value>round</value><value>bevel</value><value>inherit</value></choice>
    </attribute></optional>
    <optional><attribute name="stroke-dasharray"><data type="string"/></attribute></optional>
    <optional><attribute name="stroke-dashoffset"><data type="string"/></attribute></optional>
    <optional><attribute name="stroke-miterlimit"><data type="string"/></attribute></optional>
    <optional><attribute name="opacity"><data type="string"/></attribute></optional>
    <optional><attribute name="color"><data type="string"/></attribute></optional>
    <optional><attribute name="display"><data type="string"/></attribute></optional>
    <optional><attribute name="visibility">
      <choice><value>visible</value><value>hidden</value><value>collapse</value><value>inherit</value></choice>
    </attribute></optional>
    <optional><attribute name="clip-path"><data type="string"/></attribute></optional>
    <optional><attribute name="clip-rule">
      <choice><value>nonzero</value><value>evenodd</value><value>inherit</value></choice>
    </attribute></optional>
    <optional><attribute name="mask"><data type="string"/></attribute></optional>
    <optional><attribute name="filter"><data type="string"/></attribute></optional>
    <optional><attribute name="font-family"><data type="string"/></attribute></optional>
    <optional><attribute name="font-size"><data type="string"/></attribute></optional>
    <optional><attribute name="font-style">
      <choice><value>normal</value><value>italic</value><value>oblique</value><value>inherit</value></choice>
    </attribute></optional>
    <optional><attribute name="font-weight"><data type="string"/></attribute></optional>
    <optional><attribute name="text-anchor">
      <choice><value>start</value><value>middle</value><value>end</value><value>inherit</value></choice>
    </attribute></optional>
    <optional><attribute name="text-decoration"><data type="string"/></attribute></optional>
    <optional><attribute name="dominant-baseline"><data type="string"/></attribute></optional>
    <optional><attribute name="marker-start"><data type="string"/></attribute></optional>
    <optional><attribute name="marker-mid"><data type="string"/></attribute></optional>
    <optional><attribute name="marker-end"><data type="string"/></attribute></optional>
    <optional><attribute name="transform"><data type="string"/></attribute></optional>
  </define>

  <define name="svg.common.attrib">
    <ref name="svg.core.attrib"/>
    <ref name="svg.presentation.attrib"/>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Structural elements
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="svg.content">
    <zeroOrMore>
      <choice>
        <ref name="desc"/>
        <ref name="title-elem"/>
        <ref name="metadata"/>
        <ref name="defs"/>
        <ref name="g"/>
        <ref name="use"/>
        <ref name="symbol"/>
        <ref name="a-svg"/>
        <!-- Shapes -->
        <ref name="rect"/>
        <ref name="circle"/>
        <ref name="ellipse"/>
        <ref name="line"/>
        <ref name="polyline"/>
        <ref name="polygon"/>
        <ref name="path"/>
        <!-- Text -->
        <ref name="text"/>
        <!-- Image -->
        <ref name="image"/>
        <!-- Gradient -->
        <ref name="linearGradient"/>
        <ref name="radialGradient"/>
        <!-- Clipping/Masking -->
        <ref name="clipPath"/>
        <ref name="mask-elem"/>
        <!-- Marker -->
        <ref name="marker"/>
        <!-- Pattern -->
        <ref name="pattern"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="svg">
    <element name="svg">
      <ref name="svg.common.attrib"/>
      <optional><attribute name="viewBox"><data type="string"/></attribute></optional>
      <optional><attribute name="width"><data type="string"/></attribute></optional>
      <optional><attribute name="height"><data type="string"/></attribute></optional>
      <optional><attribute name="preserveAspectRatio"><data type="string"/></attribute></optional>
      <optional><attribute name="version"><data type="string"/></attribute></optional>
      <optional><attribute name="baseProfile"><data type="string"/></attribute></optional>
      <optional><attribute name="x"><data type="string"/></attribute></optional>
      <optional><attribute name="y"><data type="string"/></attribute></optional>
      <ref name="svg.content"/>
    </element>
  </define>

  <define name="g">
    <element name="g">
      <ref name="svg.common.attrib"/>
      <ref name="svg.content"/>
    </element>
  </define>

  <define name="defs">
    <element name="defs">
      <ref name="svg.common.attrib"/>
      <ref name="svg.content"/>
    </element>
  </define>

  <define name="symbol">
    <element name="symbol">
      <ref name="svg.common.attrib"/>
      <optional><attribute name="viewBox"><data type="string"/></attribute></optional>
      <optional><attribute name="preserveAspectRatio"><data type="string"/></attribute></optional>
      <ref name="svg.content"/>
    </element>
  </define>

  <define name="use">
    <element name="use">
      <ref name="svg.common.attrib"/>
      <ref name="svg.xlink.attrib"/>
      <optional><attribute name="x"><data type="string"/></attribute></optional>
      <optional><attribute name="y"><data type="string"/></attribute></optional>
      <optional><attribute name="width"><data type="string"/></attribute></optional>
      <optional><attribute name="height"><data type="string"/></attribute></optional>
    </element>
  </define>

  <define name="a-svg">
    <element name="a">
      <ref name="svg.common.attrib"/>
      <ref name="svg.xlink.attrib"/>
      <optional><attribute name="target"><data type="string"/></attribute></optional>
      <ref name="svg.content"/>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Descriptive elements
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="desc">
    <element name="desc">
      <ref name="svg.core.attrib"/>
      <text/>
    </element>
  </define>

  <define name="title-elem">
    <element name="title">
      <ref name="svg.core.attrib"/>
      <text/>
    </element>
  </define>

  <define name="metadata">
    <element name="metadata">
      <ref name="svg.core.attrib"/>
      <text/>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Shape elements
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="rect">
    <element name="rect">
      <ref name="svg.common.attrib"/>
      <optional><attribute name="x"><data type="string"/></attribute></optional>
      <optional><attribute name="y"><data type="string"/></attribute></optional>
      <attribute name="width"><data type="string"/></attribute>
      <attribute name="height"><data type="string"/></attribute>
      <optional><attribute name="rx"><data type="string"/></attribute></optional>
      <optional><attribute name="ry"><data type="string"/></attribute></optional>
      <zeroOrMore><choice><ref name="desc"/><ref name="title-elem"/></choice></zeroOrMore>
    </element>
  </define>

  <define name="circle">
    <element name="circle">
      <ref name="svg.common.attrib"/>
      <optional><attribute name="cx"><data type="string"/></attribute></optional>
      <optional><attribute name="cy"><data type="string"/></attribute></optional>
      <attribute name="r"><data type="string"/></attribute>
      <zeroOrMore><choice><ref name="desc"/><ref name="title-elem"/></choice></zeroOrMore>
    </element>
  </define>

  <define name="ellipse">
    <element name="ellipse">
      <ref name="svg.common.attrib"/>
      <optional><attribute name="cx"><data type="string"/></attribute></optional>
      <optional><attribute name="cy"><data type="string"/></attribute></optional>
      <attribute name="rx"><data type="string"/></attribute>
      <attribute name="ry"><data type="string"/></attribute>
      <zeroOrMore><choice><ref name="desc"/><ref name="title-elem"/></choice></zeroOrMore>
    </element>
  </define>

  <define name="line">
    <element name="line">
      <ref name="svg.common.attrib"/>
      <optional><attribute name="x1"><data type="string"/></attribute></optional>
      <optional><attribute name="y1"><data type="string"/></attribute></optional>
      <optional><attribute name="x2"><data type="string"/></attribute></optional>
      <optional><attribute name="y2"><data type="string"/></attribute></optional>
      <zeroOrMore><choice><ref name="desc"/><ref name="title-elem"/></choice></zeroOrMore>
    </element>
  </define>

  <define name="polyline">
    <element name="polyline">
      <ref name="svg.common.attrib"/>
      <attribute name="points"><data type="string"/></attribute>
      <zeroOrMore><choice><ref name="desc"/><ref name="title-elem"/></choice></zeroOrMore>
    </element>
  </define>

  <define name="polygon">
    <element name="polygon">
      <ref name="svg.common.attrib"/>
      <attribute name="points"><data type="string"/></attribute>
      <zeroOrMore><choice><ref name="desc"/><ref name="title-elem"/></choice></zeroOrMore>
    </element>
  </define>

  <define name="path">
    <element name="path">
      <ref name="svg.common.attrib"/>
      <attribute name="d"><data type="string"/></attribute>
      <optional><attribute name="pathLength"><data type="string"/></attribute></optional>
      <zeroOrMore><choice><ref name="desc"/><ref name="title-elem"/></choice></zeroOrMore>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Text elements
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="text">
    <element name="text">
      <ref name="svg.common.attrib"/>
      <optional><attribute name="x"><data type="string"/></attribute></optional>
      <optional><attribute name="y"><data type="string"/></attribute></optional>
      <optional><attribute name="dx"><data type="string"/></attribute></optional>
      <optional><attribute name="dy"><data type="string"/></attribute></optional>
      <optional><attribute name="rotate"><data type="string"/></attribute></optional>
      <optional><attribute name="textLength"><data type="string"/></attribute></optional>
      <optional><attribute name="lengthAdjust">
        <choice><value>spacing</value><value>spacingAndGlyphs</value></choice>
      </attribute></optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="tspan"/>
          <ref name="a-svg"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="tspan">
    <element name="tspan">
      <ref name="svg.common.attrib"/>
      <optional><attribute name="x"><data type="string"/></attribute></optional>
      <optional><attribute name="y"><data type="string"/></attribute></optional>
      <optional><attribute name="dx"><data type="string"/></attribute></optional>
      <optional><attribute name="dy"><data type="string"/></attribute></optional>
      <optional><attribute name="rotate"><data type="string"/></attribute></optional>
      <optional><attribute name="textLength"><data type="string"/></attribute></optional>
      <optional><attribute name="lengthAdjust">
        <choice><value>spacing</value><value>spacingAndGlyphs</value></choice>
      </attribute></optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="tspan"/>
          <ref name="a-svg"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Image element
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="image">
    <element name="image">
      <ref name="svg.common.attrib"/>
      <ref name="svg.xlink.attrib"/>
      <optional><attribute name="x"><data type="string"/></attribute></optional>
      <optional><attribute name="y"><data type="string"/></attribute></optional>
      <attribute name="width"><data type="string"/></attribute>
      <attribute name="height"><data type="string"/></attribute>
      <optional><attribute name="preserveAspectRatio"><data type="string"/></attribute></optional>
      <zeroOrMore><choice><ref name="desc"/><ref name="title-elem"/></choice></zeroOrMore>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Gradient elements
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="linearGradient">
    <element name="linearGradient">
      <ref name="svg.core.attrib"/>
      <ref name="svg.xlink.attrib"/>
      <optional><attribute name="x1"><data type="string"/></attribute></optional>
      <optional><attribute name="y1"><data type="string"/></attribute></optional>
      <optional><attribute name="x2"><data type="string"/></attribute></optional>
      <optional><attribute name="y2"><data type="string"/></attribute></optional>
      <optional><attribute name="gradientUnits">
        <choice><value>userSpaceOnUse</value><value>objectBoundingBox</value></choice>
      </attribute></optional>
      <optional><attribute name="gradientTransform"><data type="string"/></attribute></optional>
      <optional><attribute name="spreadMethod">
        <choice><value>pad</value><value>reflect</value><value>repeat</value></choice>
      </attribute></optional>
      <zeroOrMore><ref name="stop"/></zeroOrMore>
    </element>
  </define>

  <define name="radialGradient">
    <element name="radialGradient">
      <ref name="svg.core.attrib"/>
      <ref name="svg.xlink.attrib"/>
      <optional><attribute name="cx"><data type="string"/></attribute></optional>
      <optional><attribute name="cy"><data type="string"/></attribute></optional>
      <optional><attribute name="r"><data type="string"/></attribute></optional>
      <optional><attribute name="fx"><data type="string"/></attribute></optional>
      <optional><attribute name="fy"><data type="string"/></attribute></optional>
      <optional><attribute name="gradientUnits">
        <choice><value>userSpaceOnUse</value><value>objectBoundingBox</value></choice>
      </attribute></optional>
      <optional><attribute name="gradientTransform"><data type="string"/></attribute></optional>
      <optional><attribute name="spreadMethod">
        <choice><value>pad</value><value>reflect</value><value>repeat</value></choice>
      </attribute></optional>
      <zeroOrMore><ref name="stop"/></zeroOrMore>
    </element>
  </define>

  <define name="stop">
    <element name="stop">
      <ref name="svg.core.attrib"/>
      <attribute name="offset"><data type="string"/></attribute>
      <optional><attribute name="stop-color"><data type="string"/></attribute></optional>
      <optional><attribute name="stop-opacity"><data type="string"/></attribute></optional>
      <!-- style is already provided by svg.core.attrib -->
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Clipping, Masking, Marker, Pattern
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="clipPath">
    <element name="clipPath">
      <ref name="svg.common.attrib"/>
      <optional><attribute name="clipPathUnits">
        <choice><value>userSpaceOnUse</value><value>objectBoundingBox</value></choice>
      </attribute></optional>
      <ref name="svg.content"/>
    </element>
  </define>

  <define name="mask-elem">
    <element name="mask">
      <ref name="svg.common.attrib"/>
      <optional><attribute name="maskUnits">
        <choice><value>userSpaceOnUse</value><value>objectBoundingBox</value></choice>
      </attribute></optional>
      <optional><attribute name="maskContentUnits">
        <choice><value>userSpaceOnUse</value><value>objectBoundingBox</value></choice>
      </attribute></optional>
      <optional><attribute name="x"><data type="string"/></attribute></optional>
      <optional><attribute name="y"><data type="string"/></attribute></optional>
      <optional><attribute name="width"><data type="string"/></attribute></optional>
      <optional><attribute name="height"><data type="string"/></attribute></optional>
      <ref name="svg.content"/>
    </element>
  </define>

  <define name="marker">
    <element name="marker">
      <ref name="svg.common.attrib"/>
      <optional><attribute name="refX"><data type="string"/></attribute></optional>
      <optional><attribute name="refY"><data type="string"/></attribute></optional>
      <optional><attribute name="markerWidth"><data type="string"/></attribute></optional>
      <optional><attribute name="markerHeight"><data type="string"/></attribute></optional>
      <optional><attribute name="markerUnits">
        <choice><value>strokeWidth</value><value>userSpaceOnUse</value></choice>
      </attribute></optional>
      <optional><attribute name="orient"><data type="string"/></attribute></optional>
      <optional><attribute name="viewBox"><data type="string"/></attribute></optional>
      <optional><attribute name="preserveAspectRatio"><data type="string"/></attribute></optional>
      <ref name="svg.content"/>
    </element>
  </define>

  <define name="pattern">
    <element name="pattern">
      <ref name="svg.common.attrib"/>
      <ref name="svg.xlink.attrib"/>
      <optional><attribute name="x"><data type="string"/></attribute></optional>
      <optional><attribute name="y"><data type="string"/></attribute></optional>
      <optional><attribute name="width"><data type="string"/></attribute></optional>
      <optional><attribute name="height"><data type="string"/></attribute></optional>
      <optional><attribute name="patternUnits">
        <choice><value>userSpaceOnUse</value><value>objectBoundingBox</value></choice>
      </attribute></optional>
      <optional><attribute name="patternContentUnits">
        <choice><value>userSpaceOnUse</value><value>objectBoundingBox</value></choice>
      </attribute></optional>
      <optional><attribute name="patternTransform"><data type="string"/></attribute></optional>
      <optional><attribute name="viewBox"><data type="string"/></attribute></optional>
      <optional><attribute name="preserveAspectRatio"><data type="string"/></attribute></optional>
      <ref name="svg.content"/>
    </element>
  </define>

</grammar>
