testdata/real-world/xhtml1-strict.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  RELAX NG schema for XHTML 1.0 Strict
  Derived from the W3C XHTML 1.0 specification
  Simplified subset covering the most common elements
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:xhtml="http://www.w3.org/1999/xhtml"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.w3.org/1999/xhtml">

  <start>
    <ref name="html"/>
  </start>

  <!-- Core attributes -->
  <define name="coreattrs">
    <optional><attribute name="id"><data type="ID"/></attribute></optional>
    <optional><attribute name="class"><data type="NMTOKENS"/></attribute></optional>
    <optional><attribute name="style"><data type="string"/></attribute></optional>
    <optional><attribute name="title"><data type="string"/></attribute></optional>
  </define>

  <define name="i18n">
    <optional>
      <attribute name="xml:lang"><data type="language"/></attribute>
    </optional>
  </define>

  <define name="commonattrs">
    <ref name="coreattrs"/>
    <ref name="i18n"/>
  </define>

  <!-- Inline content -->
  <define name="inline">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="a"/>
        <ref name="span"/>
        <ref name="em"/>
        <ref name="strong"/>
        <ref name="code"/>
        <ref name="br"/>
        <ref name="img"/>
        <ref name="abbr"/>
        <ref name="acronym"/>
        <ref name="sub"/>
        <ref name="sup"/>
        <ref name="tt"/>
        <ref name="i"/>
        <ref name="b"/>
        <ref name="big"/>
        <ref name="small"/>
        <ref name="cite"/>
        <ref name="dfn"/>
        <ref name="kbd"/>
        <ref name="samp"/>
        <ref name="var"/>
        <ref name="q"/>
      </choice>
    </zeroOrMore>
  </define>

  <!-- Block content -->
  <define name="block">
    <choice>
      <ref name="p"/>
      <ref name="div"/>
      <ref name="h1"/>
      <ref name="h2"/>
      <ref name="h3"/>
      <ref name="h4"/>
      <ref name="h5"/>
      <ref name="h6"/>
      <ref name="ul"/>
      <ref name="ol"/>
      <ref name="dl"/>
      <ref name="pre"/>
      <ref name="blockquote"/>
      <ref name="address"/>
      <ref name="table"/>
      <ref name="hr"/>
    </choice>
  </define>

  <define name="flow">
    <zeroOrMore>
      <choice>
        <ref name="block"/>
        <text/>
        <ref name="a"/>
        <ref name="span"/>
        <ref name="em"/>
        <ref name="strong"/>
        <ref name="code"/>
        <ref name="br"/>
        <ref name="img"/>
        <ref name="abbr"/>
        <ref name="acronym"/>
        <ref name="sub"/>
        <ref name="sup"/>
        <ref name="tt"/>
        <ref name="i"/>
        <ref name="b"/>
        <ref name="big"/>
        <ref name="small"/>
        <ref name="cite"/>
        <ref name="dfn"/>
        <ref name="kbd"/>
        <ref name="samp"/>
        <ref name="var"/>
        <ref name="q"/>
      </choice>
    </zeroOrMore>
  </define>

  <!-- Root element -->
  <define name="html">
    <element name="html">
      <ref name="i18n"/>
      <ref name="head"/>
      <ref name="body"/>
    </element>
  </define>

  <!-- Head -->
  <define name="head">
    <element name="head">
      <ref name="i18n"/>
      <interleave>
        <ref name="title"/>
        <zeroOrMore><ref name="meta"/></zeroOrMore>
        <zeroOrMore><ref name="link"/></zeroOrMore>
        <zeroOrMore><ref name="style"/></zeroOrMore>
        <zeroOrMore><ref name="script"/></zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="title">
    <element name="title">
      <ref name="i18n"/>
      <text/>
    </element>
  </define>

  <define name="meta">
    <element name="meta">
      <ref name="i18n"/>
      <optional><attribute name="http-equiv"><data type="string"/></attribute></optional>
      <optional><attribute name="name"><data type="NMTOKEN"/></attribute></optional>
      <attribute name="content"><data type="string"/></attribute>
      <optional><attribute name="scheme"><data type="string"/></attribute></optional>
    </element>
  </define>

  <define name="link">
    <element name="link">
      <ref name="commonattrs"/>
      <optional><attribute name="charset"><data type="string"/></attribute></optional>
      <optional><attribute name="href"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="hreflang"><data type="language"/></attribute></optional>
      <optional><attribute name="type"><data type="string"/></attribute></optional>
      <optional><attribute name="rel"><data type="NMTOKENS"/></attribute></optional>
      <optional><attribute name="rev"><data type="NMTOKENS"/></attribute></optional>
      <optional><attribute name="media"><data type="string"/></attribute></optional>
    </element>
  </define>

  <define name="style">
    <element name="style">
      <ref name="i18n"/>
      <attribute name="type"><data type="string"/></attribute>
      <optional><attribute name="media"><data type="string"/></attribute></optional>
      <optional><attribute name="title"><data type="string"/></attribute></optional>
      <text/>
    </element>
  </define>

  <define name="script">
    <element name="script">
      <optional><attribute name="charset"><data type="string"/></attribute></optional>
      <attribute name="type"><data type="string"/></attribute>
      <optional><attribute name="src"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="defer"><value>defer</value></attribute></optional>
      <optional><attribute name="xml:space"><value>preserve</value></attribute></optional>
      <text/>
    </element>
  </define>

  <!-- Body -->
  <define name="body">
    <element name="body">
      <ref name="commonattrs"/>
      <ref name="flow"/>
    </element>
  </define>

  <!-- Block elements -->
  <define name="p">
    <element name="p">
      <ref name="commonattrs"/>
      <optional><attribute name="align"><data type="string"/></attribute></optional>
      <ref name="inline"/>
    </element>
  </define>

  <define name="div">
    <element name="div">
      <ref name="commonattrs"/>
      <optional><attribute name="align"><data type="string"/></attribute></optional>
      <ref name="flow"/>
    </element>
  </define>

  <define name="h1">
    <element name="h1"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="h2">
    <element name="h2"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="h3">
    <element name="h3"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="h4">
    <element name="h4"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="h5">
    <element name="h5"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="h6">
    <element name="h6"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="ul">
    <element name="ul">
      <ref name="commonattrs"/>
      <oneOrMore>
        <element name="li">
          <ref name="commonattrs"/>
          <ref name="flow"/>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="ol">
    <element name="ol">
      <ref name="commonattrs"/>
      <oneOrMore>
        <element name="li">
          <ref name="commonattrs"/>
          <ref name="flow"/>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="dl">
    <element name="dl">
      <ref name="commonattrs"/>
      <oneOrMore>
        <choice>
          <element name="dt">
            <ref name="commonattrs"/>
            <ref name="inline"/>
          </element>
          <element name="dd">
            <ref name="commonattrs"/>
            <ref name="flow"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="pre">
    <element name="pre">
      <ref name="commonattrs"/>
      <optional><attribute name="xml:space"><value>preserve</value></attribute></optional>
      <ref name="inline"/>
    </element>
  </define>

  <define name="blockquote">
    <element name="blockquote">
      <ref name="commonattrs"/>
      <optional><attribute name="cite"><data type="anyURI"/></attribute></optional>
      <ref name="flow"/>
    </element>
  </define>

  <define name="address">
    <element name="address">
      <ref name="commonattrs"/>
      <ref name="inline"/>
    </element>
  </define>

  <define name="hr">
    <element name="hr"><ref name="commonattrs"/></element>
  </define>

  <!-- Table -->
  <define name="table">
    <element name="table">
      <ref name="commonattrs"/>
      <optional><attribute name="summary"><data type="string"/></attribute></optional>
      <optional><attribute name="width"><data type="string"/></attribute></optional>
      <optional><attribute name="border"><data type="string"/></attribute></optional>
      <optional><attribute name="cellspacing"><data type="string"/></attribute></optional>
      <optional><attribute name="cellpadding"><data type="string"/></attribute></optional>
      <optional>
        <element name="caption">
          <ref name="commonattrs"/>
          <ref name="inline"/>
        </element>
      </optional>
      <choice>
        <oneOrMore><ref name="tr"/></oneOrMore>
        <group>
          <optional>
            <element name="thead">
              <ref name="commonattrs"/>
              <oneOrMore><ref name="tr"/></oneOrMore>
            </element>
          </optional>
          <optional>
            <element name="tfoot">
              <ref name="commonattrs"/>
              <oneOrMore><ref name="tr"/></oneOrMore>
            </element>
          </optional>
          <oneOrMore>
            <element name="tbody">
              <ref name="commonattrs"/>
              <oneOrMore><ref name="tr"/></oneOrMore>
            </element>
          </oneOrMore>
        </group>
      </choice>
    </element>
  </define>

  <define name="tr">
    <element name="tr">
      <ref name="commonattrs"/>
      <oneOrMore>
        <choice>
          <element name="th">
            <ref name="commonattrs"/>
            <optional><attribute name="abbr"><data type="string"/></attribute></optional>
            <optional><attribute name="colspan"><data type="positiveInteger"/></attribute></optional>
            <optional><attribute name="rowspan"><data type="positiveInteger"/></attribute></optional>
            <optional><attribute name="scope"><data type="string"/></attribute></optional>
            <ref name="flow"/>
          </element>
          <element name="td">
            <ref name="commonattrs"/>
            <optional><attribute name="abbr"><data type="string"/></attribute></optional>
            <optional><attribute name="colspan"><data type="positiveInteger"/></attribute></optional>
            <optional><attribute name="rowspan"><data type="positiveInteger"/></attribute></optional>
            <optional><attribute name="scope"><data type="string"/></attribute></optional>
            <ref name="flow"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <!-- Inline elements -->
  <define name="a">
    <element name="a">
      <ref name="commonattrs"/>
      <optional><attribute name="charset"><data type="string"/></attribute></optional>
      <optional><attribute name="type"><data type="string"/></attribute></optional>
      <optional><attribute name="href"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="hreflang"><data type="language"/></attribute></optional>
      <optional><attribute name="rel"><data type="NMTOKENS"/></attribute></optional>
      <optional><attribute name="rev"><data type="NMTOKENS"/></attribute></optional>
      <optional><attribute name="accesskey"><data type="string"/></attribute></optional>
      <optional><attribute name="tabindex"><data type="integer"/></attribute></optional>
      <ref name="inline"/>
    </element>
  </define>

  <define name="span">
    <element name="span"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="em">
    <element name="em"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="strong">
    <element name="strong"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="code">
    <element name="code"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="br">
    <element name="br"><ref name="coreattrs"/></element>
  </define>

  <define name="img">
    <element name="img">
      <ref name="commonattrs"/>
      <attribute name="src"><data type="anyURI"/></attribute>
      <attribute name="alt"><data type="string"/></attribute>
      <optional><attribute name="height"><data type="string"/></attribute></optional>
      <optional><attribute name="width"><data type="string"/></attribute></optional>
    </element>
  </define>

  <define name="abbr">
    <element name="abbr"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="acronym">
    <element name="acronym"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="sub">
    <element name="sub"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="sup">
    <element name="sup"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="tt">
    <element name="tt"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="i">
    <element name="i"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="b">
    <element name="b"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="big">
    <element name="big"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="small">
    <element name="small"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="cite">
    <element name="cite"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="dfn">
    <element name="dfn"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="kbd">
    <element name="kbd"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="samp">
    <element name="samp"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="var">
    <element name="var"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="q">
    <element name="q">
      <ref name="commonattrs"/>
      <optional><attribute name="cite"><data type="anyURI"/></attribute></optional>
      <ref name="inline"/>
    </element>
  </define>

</grammar>
