testdata/real-world/xhtml1-strict-full.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Full RELAX NG schema for XHTML 1.0 Strict.
  Based on the W3C XHTML 1.0 specification (Second Edition).

  This extends the subset schema (xhtml1-strict.rng) with:
  - Form elements (form, input, select, textarea, button, label, fieldset, legend)
  - Object/param elements
  - Image maps (map, area)
  - Colgroup/col for tables
  - Edit markup (ins, del)
  - Event attributes (onclick, onload, onfocus, etc.)
  - Noscript element
  - Full attribute models for all elements
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.w3.org/1999/xhtml">

  <start>
    <ref name="html"/>
  </start>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Attribute groups
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="coreattrs">
    <optional><attribute name="id"><data type="ID"/></attribute></optional>
    <optional><attribute name="class"><data type="NMTOKENS"/></attribute></optional>
    <optional><attribute name="style"><data type="string"/></attribute></optional>
    <optional><attribute name="title"><data type="string"/></attribute></optional>
  </define>

  <define name="i18n">
    <optional>
      <attribute name="xml:lang"><data type="language"/></attribute>
    </optional>
    <optional>
      <attribute name="lang"><data type="language"/></attribute>
    </optional>
    <optional>
      <attribute name="dir">
        <choice><value>ltr</value><value>rtl</value></choice>
      </attribute>
    </optional>
  </define>

  <define name="events">
    <optional><attribute name="onclick"><data type="string"/></attribute></optional>
    <optional><attribute name="ondblclick"><data type="string"/></attribute></optional>
    <optional><attribute name="onmousedown"><data type="string"/></attribute></optional>
    <optional><attribute name="onmouseup"><data type="string"/></attribute></optional>
    <optional><attribute name="onmouseover"><data type="string"/></attribute></optional>
    <optional><attribute name="onmousemove"><data type="string"/></attribute></optional>
    <optional><attribute name="onmouseout"><data type="string"/></attribute></optional>
    <optional><attribute name="onkeypress"><data type="string"/></attribute></optional>
    <optional><attribute name="onkeydown"><data type="string"/></attribute></optional>
    <optional><attribute name="onkeyup"><data type="string"/></attribute></optional>
  </define>

  <define name="commonattrs">
    <ref name="coreattrs"/>
    <ref name="i18n"/>
    <ref name="events"/>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Content models
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="inline">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="a"/>
        <ref name="span"/>
        <ref name="em"/>
        <ref name="strong"/>
        <ref name="code"/>
        <ref name="br"/>
        <ref name="img"/>
        <ref name="abbr"/>
        <ref name="acronym"/>
        <ref name="sub"/>
        <ref name="sup"/>
        <ref name="tt"/>
        <ref name="i"/>
        <ref name="b"/>
        <ref name="big"/>
        <ref name="small"/>
        <ref name="cite"/>
        <ref name="dfn"/>
        <ref name="kbd"/>
        <ref name="samp"/>
        <ref name="var"/>
        <ref name="q"/>
        <ref name="input"/>
        <ref name="select"/>
        <ref name="textarea"/>
        <ref name="button"/>
        <ref name="label"/>
        <ref name="object"/>
        <ref name="ins-inline"/>
        <ref name="del-inline"/>
        <ref name="map"/>
        <ref name="noscript-inline"/>
        <ref name="script"/>
      </choice>
    </zeroOrMore>
  </define>

  <define name="block">
    <choice>
      <ref name="p"/>
      <ref name="div"/>
      <ref name="h1"/>
      <ref name="h2"/>
      <ref name="h3"/>
      <ref name="h4"/>
      <ref name="h5"/>
      <ref name="h6"/>
      <ref name="ul"/>
      <ref name="ol"/>
      <ref name="dl"/>
      <ref name="pre"/>
      <ref name="blockquote"/>
      <ref name="address"/>
      <ref name="table"/>
      <ref name="hr"/>
      <ref name="form"/>
      <ref name="fieldset"/>
      <ref name="noscript-block"/>
      <ref name="ins-block"/>
      <ref name="del-block"/>
    </choice>
  </define>

  <define name="flow">
    <zeroOrMore>
      <choice>
        <ref name="block"/>
        <text/>
        <ref name="a"/>
        <ref name="span"/>
        <ref name="em"/>
        <ref name="strong"/>
        <ref name="code"/>
        <ref name="br"/>
        <ref name="img"/>
        <ref name="abbr"/>
        <ref name="acronym"/>
        <ref name="sub"/>
        <ref name="sup"/>
        <ref name="tt"/>
        <ref name="i"/>
        <ref name="b"/>
        <ref name="big"/>
        <ref name="small"/>
        <ref name="cite"/>
        <ref name="dfn"/>
        <ref name="kbd"/>
        <ref name="samp"/>
        <ref name="var"/>
        <ref name="q"/>
        <ref name="input"/>
        <ref name="select"/>
        <ref name="textarea"/>
        <ref name="button"/>
        <ref name="label"/>
        <ref name="object"/>
        <ref name="map"/>
        <ref name="script"/>
      </choice>
    </zeroOrMore>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Document structure
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="html">
    <element name="html">
      <ref name="i18n"/>
      <optional><attribute name="id"><data type="ID"/></attribute></optional>
      <ref name="head"/>
      <ref name="body"/>
    </element>
  </define>

  <define name="head">
    <element name="head">
      <ref name="i18n"/>
      <optional><attribute name="id"><data type="ID"/></attribute></optional>
      <optional><attribute name="profile"><data type="anyURI"/></attribute></optional>
      <interleave>
        <ref name="title"/>
        <optional><ref name="base"/></optional>
        <zeroOrMore><ref name="meta"/></zeroOrMore>
        <zeroOrMore><ref name="link"/></zeroOrMore>
        <zeroOrMore><ref name="style"/></zeroOrMore>
        <zeroOrMore><ref name="script"/></zeroOrMore>
        <zeroOrMore><ref name="object"/></zeroOrMore>
      </interleave>
    </element>
  </define>

  <define name="title">
    <element name="title">
      <ref name="i18n"/>
      <text/>
    </element>
  </define>

  <define name="base">
    <element name="base">
      <attribute name="href"><data type="anyURI"/></attribute>
      <optional><attribute name="id"><data type="ID"/></attribute></optional>
    </element>
  </define>

  <define name="meta">
    <element name="meta">
      <ref name="i18n"/>
      <optional><attribute name="id"><data type="ID"/></attribute></optional>
      <optional><attribute name="http-equiv"><data type="string"/></attribute></optional>
      <optional><attribute name="name"><data type="NMTOKEN"/></attribute></optional>
      <attribute name="content"><data type="string"/></attribute>
      <optional><attribute name="scheme"><data type="string"/></attribute></optional>
    </element>
  </define>

  <define name="link">
    <element name="link">
      <ref name="commonattrs"/>
      <optional><attribute name="charset"><data type="string"/></attribute></optional>
      <optional><attribute name="href"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="hreflang"><data type="language"/></attribute></optional>
      <optional><attribute name="type"><data type="string"/></attribute></optional>
      <optional><attribute name="rel"><data type="NMTOKENS"/></attribute></optional>
      <optional><attribute name="rev"><data type="NMTOKENS"/></attribute></optional>
      <optional><attribute name="media"><data type="string"/></attribute></optional>
    </element>
  </define>

  <define name="style">
    <element name="style">
      <ref name="i18n"/>
      <optional><attribute name="id"><data type="ID"/></attribute></optional>
      <attribute name="type"><data type="string"/></attribute>
      <optional><attribute name="media"><data type="string"/></attribute></optional>
      <optional><attribute name="title"><data type="string"/></attribute></optional>
      <optional><attribute name="xml:space"><value>preserve</value></attribute></optional>
      <text/>
    </element>
  </define>

  <define name="script">
    <element name="script">
      <optional><attribute name="id"><data type="ID"/></attribute></optional>
      <optional><attribute name="charset"><data type="string"/></attribute></optional>
      <attribute name="type"><data type="string"/></attribute>
      <optional><attribute name="src"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="defer"><value>defer</value></attribute></optional>
      <optional><attribute name="xml:space"><value>preserve</value></attribute></optional>
      <text/>
    </element>
  </define>

  <define name="body">
    <element name="body">
      <ref name="commonattrs"/>
      <optional><attribute name="onload"><data type="string"/></attribute></optional>
      <optional><attribute name="onunload"><data type="string"/></attribute></optional>
      <ref name="flow"/>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Block elements
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="p">
    <element name="p">
      <ref name="commonattrs"/>
      <ref name="inline"/>
    </element>
  </define>

  <define name="div">
    <element name="div">
      <ref name="commonattrs"/>
      <ref name="flow"/>
    </element>
  </define>

  <define name="h1">
    <element name="h1"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="h2">
    <element name="h2"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="h3">
    <element name="h3"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="h4">
    <element name="h4"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="h5">
    <element name="h5"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="h6">
    <element name="h6"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="ul">
    <element name="ul">
      <ref name="commonattrs"/>
      <oneOrMore>
        <element name="li"><ref name="commonattrs"/><ref name="flow"/></element>
      </oneOrMore>
    </element>
  </define>

  <define name="ol">
    <element name="ol">
      <ref name="commonattrs"/>
      <oneOrMore>
        <element name="li"><ref name="commonattrs"/><ref name="flow"/></element>
      </oneOrMore>
    </element>
  </define>

  <define name="dl">
    <element name="dl">
      <ref name="commonattrs"/>
      <oneOrMore>
        <choice>
          <element name="dt"><ref name="commonattrs"/><ref name="inline"/></element>
          <element name="dd"><ref name="commonattrs"/><ref name="flow"/></element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="pre">
    <element name="pre">
      <ref name="commonattrs"/>
      <optional><attribute name="xml:space"><value>preserve</value></attribute></optional>
      <ref name="inline"/>
    </element>
  </define>

  <define name="blockquote">
    <element name="blockquote">
      <ref name="commonattrs"/>
      <optional><attribute name="cite"><data type="anyURI"/></attribute></optional>
      <ref name="flow"/>
    </element>
  </define>

  <define name="address">
    <element name="address"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>

  <define name="hr">
    <element name="hr"><ref name="commonattrs"/></element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Table elements
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="table">
    <element name="table">
      <ref name="commonattrs"/>
      <optional><attribute name="summary"><data type="string"/></attribute></optional>
      <optional><attribute name="width"><data type="string"/></attribute></optional>
      <optional><attribute name="border"><data type="nonNegativeInteger"/></attribute></optional>
      <optional><attribute name="cellspacing"><data type="string"/></attribute></optional>
      <optional><attribute name="cellpadding"><data type="string"/></attribute></optional>
      <optional><attribute name="frame">
        <choice>
          <value>void</value><value>above</value><value>below</value>
          <value>hsides</value><value>lhs</value><value>rhs</value>
          <value>vsides</value><value>box</value><value>border</value>
        </choice>
      </attribute></optional>
      <optional><attribute name="rules">
        <choice>
          <value>none</value><value>groups</value><value>rows</value>
          <value>cols</value><value>all</value>
        </choice>
      </attribute></optional>
      <optional>
        <element name="caption"><ref name="commonattrs"/><ref name="inline"/></element>
      </optional>
      <zeroOrMore><ref name="col"/></zeroOrMore>
      <zeroOrMore><ref name="colgroup"/></zeroOrMore>
      <choice>
        <oneOrMore><ref name="tr"/></oneOrMore>
        <group>
          <optional>
            <element name="thead"><ref name="commonattrs"/><oneOrMore><ref name="tr"/></oneOrMore></element>
          </optional>
          <optional>
            <element name="tfoot"><ref name="commonattrs"/><oneOrMore><ref name="tr"/></oneOrMore></element>
          </optional>
          <oneOrMore>
            <element name="tbody"><ref name="commonattrs"/><oneOrMore><ref name="tr"/></oneOrMore></element>
          </oneOrMore>
        </group>
      </choice>
    </element>
  </define>

  <define name="col">
    <element name="col">
      <ref name="commonattrs"/>
      <optional><attribute name="span"><data type="positiveInteger"/></attribute></optional>
      <optional><attribute name="width"><data type="string"/></attribute></optional>
      <optional><attribute name="align">
        <choice><value>left</value><value>center</value><value>right</value><value>justify</value><value>char</value></choice>
      </attribute></optional>
      <optional><attribute name="valign">
        <choice><value>top</value><value>middle</value><value>bottom</value><value>baseline</value></choice>
      </attribute></optional>
    </element>
  </define>

  <define name="colgroup">
    <element name="colgroup">
      <ref name="commonattrs"/>
      <optional><attribute name="span"><data type="positiveInteger"/></attribute></optional>
      <optional><attribute name="width"><data type="string"/></attribute></optional>
      <optional><attribute name="align">
        <choice><value>left</value><value>center</value><value>right</value><value>justify</value><value>char</value></choice>
      </attribute></optional>
      <zeroOrMore><ref name="col"/></zeroOrMore>
    </element>
  </define>

  <define name="tr">
    <element name="tr">
      <ref name="commonattrs"/>
      <optional><attribute name="align">
        <choice><value>left</value><value>center</value><value>right</value><value>justify</value><value>char</value></choice>
      </attribute></optional>
      <optional><attribute name="valign">
        <choice><value>top</value><value>middle</value><value>bottom</value><value>baseline</value></choice>
      </attribute></optional>
      <oneOrMore>
        <choice>
          <ref name="th"/>
          <ref name="td"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="th">
    <element name="th">
      <ref name="commonattrs"/>
      <optional><attribute name="abbr"><data type="string"/></attribute></optional>
      <optional><attribute name="headers"><data type="IDREFS"/></attribute></optional>
      <optional><attribute name="scope">
        <choice><value>row</value><value>col</value><value>rowgroup</value><value>colgroup</value></choice>
      </attribute></optional>
      <optional><attribute name="colspan"><data type="positiveInteger"/></attribute></optional>
      <optional><attribute name="rowspan"><data type="positiveInteger"/></attribute></optional>
      <optional><attribute name="align">
        <choice><value>left</value><value>center</value><value>right</value><value>justify</value><value>char</value></choice>
      </attribute></optional>
      <optional><attribute name="valign">
        <choice><value>top</value><value>middle</value><value>bottom</value><value>baseline</value></choice>
      </attribute></optional>
      <ref name="flow"/>
    </element>
  </define>

  <define name="td">
    <element name="td">
      <ref name="commonattrs"/>
      <optional><attribute name="abbr"><data type="string"/></attribute></optional>
      <optional><attribute name="headers"><data type="IDREFS"/></attribute></optional>
      <optional><attribute name="scope">
        <choice><value>row</value><value>col</value><value>rowgroup</value><value>colgroup</value></choice>
      </attribute></optional>
      <optional><attribute name="colspan"><data type="positiveInteger"/></attribute></optional>
      <optional><attribute name="rowspan"><data type="positiveInteger"/></attribute></optional>
      <optional><attribute name="align">
        <choice><value>left</value><value>center</value><value>right</value><value>justify</value><value>char</value></choice>
      </attribute></optional>
      <optional><attribute name="valign">
        <choice><value>top</value><value>middle</value><value>bottom</value><value>baseline</value></choice>
      </attribute></optional>
      <ref name="flow"/>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Form elements
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="form">
    <element name="form">
      <ref name="commonattrs"/>
      <attribute name="action"><data type="anyURI"/></attribute>
      <optional><attribute name="method">
        <choice><value>get</value><value>post</value></choice>
      </attribute></optional>
      <optional><attribute name="enctype"><data type="string"/></attribute></optional>
      <optional><attribute name="accept"><data type="string"/></attribute></optional>
      <optional><attribute name="accept-charset"><data type="string"/></attribute></optional>
      <optional><attribute name="onsubmit"><data type="string"/></attribute></optional>
      <optional><attribute name="onreset"><data type="string"/></attribute></optional>
      <ref name="flow"/>
    </element>
  </define>

  <define name="input">
    <element name="input">
      <ref name="commonattrs"/>
      <optional><attribute name="type">
        <choice>
          <value>text</value><value>password</value><value>checkbox</value>
          <value>radio</value><value>submit</value><value>reset</value>
          <value>file</value><value>hidden</value><value>image</value>
          <value>button</value>
        </choice>
      </attribute></optional>
      <optional><attribute name="name"><data type="string"/></attribute></optional>
      <optional><attribute name="value"><data type="string"/></attribute></optional>
      <optional><attribute name="checked"><value>checked</value></attribute></optional>
      <optional><attribute name="disabled"><value>disabled</value></attribute></optional>
      <optional><attribute name="readonly"><value>readonly</value></attribute></optional>
      <optional><attribute name="size"><data type="positiveInteger"/></attribute></optional>
      <optional><attribute name="maxlength"><data type="positiveInteger"/></attribute></optional>
      <optional><attribute name="src"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="alt"><data type="string"/></attribute></optional>
      <optional><attribute name="tabindex"><data type="integer"/></attribute></optional>
      <optional><attribute name="accesskey"><data type="string"/></attribute></optional>
      <optional><attribute name="onfocus"><data type="string"/></attribute></optional>
      <optional><attribute name="onblur"><data type="string"/></attribute></optional>
      <optional><attribute name="onselect"><data type="string"/></attribute></optional>
      <optional><attribute name="onchange"><data type="string"/></attribute></optional>
      <optional><attribute name="accept"><data type="string"/></attribute></optional>
    </element>
  </define>

  <define name="select">
    <element name="select">
      <ref name="commonattrs"/>
      <optional><attribute name="name"><data type="string"/></attribute></optional>
      <optional><attribute name="size"><data type="positiveInteger"/></attribute></optional>
      <optional><attribute name="multiple"><value>multiple</value></attribute></optional>
      <optional><attribute name="disabled"><value>disabled</value></attribute></optional>
      <optional><attribute name="tabindex"><data type="integer"/></attribute></optional>
      <optional><attribute name="onfocus"><data type="string"/></attribute></optional>
      <optional><attribute name="onblur"><data type="string"/></attribute></optional>
      <optional><attribute name="onchange"><data type="string"/></attribute></optional>
      <oneOrMore>
        <choice>
          <ref name="option"/>
          <ref name="optgroup"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="option">
    <element name="option">
      <ref name="commonattrs"/>
      <optional><attribute name="selected"><value>selected</value></attribute></optional>
      <optional><attribute name="disabled"><value>disabled</value></attribute></optional>
      <optional><attribute name="value"><data type="string"/></attribute></optional>
      <optional><attribute name="label"><data type="string"/></attribute></optional>
      <text/>
    </element>
  </define>

  <define name="optgroup">
    <element name="optgroup">
      <ref name="commonattrs"/>
      <attribute name="label"><data type="string"/></attribute>
      <optional><attribute name="disabled"><value>disabled</value></attribute></optional>
      <oneOrMore><ref name="option"/></oneOrMore>
    </element>
  </define>

  <define name="textarea">
    <element name="textarea">
      <ref name="commonattrs"/>
      <optional><attribute name="name"><data type="string"/></attribute></optional>
      <attribute name="rows"><data type="positiveInteger"/></attribute>
      <attribute name="cols"><data type="positiveInteger"/></attribute>
      <optional><attribute name="disabled"><value>disabled</value></attribute></optional>
      <optional><attribute name="readonly"><value>readonly</value></attribute></optional>
      <optional><attribute name="tabindex"><data type="integer"/></attribute></optional>
      <optional><attribute name="accesskey"><data type="string"/></attribute></optional>
      <optional><attribute name="onfocus"><data type="string"/></attribute></optional>
      <optional><attribute name="onblur"><data type="string"/></attribute></optional>
      <optional><attribute name="onselect"><data type="string"/></attribute></optional>
      <optional><attribute name="onchange"><data type="string"/></attribute></optional>
      <text/>
    </element>
  </define>

  <define name="button">
    <element name="button">
      <ref name="commonattrs"/>
      <optional><attribute name="name"><data type="string"/></attribute></optional>
      <optional><attribute name="value"><data type="string"/></attribute></optional>
      <optional><attribute name="type">
        <choice><value>button</value><value>submit</value><value>reset</value></choice>
      </attribute></optional>
      <optional><attribute name="disabled"><value>disabled</value></attribute></optional>
      <optional><attribute name="tabindex"><data type="integer"/></attribute></optional>
      <optional><attribute name="accesskey"><data type="string"/></attribute></optional>
      <optional><attribute name="onfocus"><data type="string"/></attribute></optional>
      <optional><attribute name="onblur"><data type="string"/></attribute></optional>
      <ref name="flow"/>
    </element>
  </define>

  <define name="label">
    <element name="label">
      <ref name="commonattrs"/>
      <optional><attribute name="for"><data type="IDREF"/></attribute></optional>
      <optional><attribute name="accesskey"><data type="string"/></attribute></optional>
      <optional><attribute name="onfocus"><data type="string"/></attribute></optional>
      <optional><attribute name="onblur"><data type="string"/></attribute></optional>
      <ref name="inline"/>
    </element>
  </define>

  <define name="fieldset">
    <element name="fieldset">
      <ref name="commonattrs"/>
      <optional>
        <element name="legend">
          <ref name="commonattrs"/>
          <optional><attribute name="accesskey"><data type="string"/></attribute></optional>
          <ref name="inline"/>
        </element>
      </optional>
      <ref name="flow"/>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Inline elements
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="a">
    <element name="a">
      <ref name="commonattrs"/>
      <optional><attribute name="charset"><data type="string"/></attribute></optional>
      <optional><attribute name="type"><data type="string"/></attribute></optional>
      <optional><attribute name="href"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="hreflang"><data type="language"/></attribute></optional>
      <optional><attribute name="rel"><data type="NMTOKENS"/></attribute></optional>
      <optional><attribute name="rev"><data type="NMTOKENS"/></attribute></optional>
      <optional><attribute name="accesskey"><data type="string"/></attribute></optional>
      <optional><attribute name="tabindex"><data type="integer"/></attribute></optional>
      <optional><attribute name="onfocus"><data type="string"/></attribute></optional>
      <optional><attribute name="onblur"><data type="string"/></attribute></optional>
      <ref name="inline"/>
    </element>
  </define>

  <define name="span">
    <element name="span"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="em">
    <element name="em"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="strong">
    <element name="strong"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="code">
    <element name="code"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="br">
    <element name="br">
      <optional><attribute name="id"><data type="ID"/></attribute></optional>
      <optional><attribute name="class"><data type="NMTOKENS"/></attribute></optional>
      <optional><attribute name="style"><data type="string"/></attribute></optional>
      <optional><attribute name="title"><data type="string"/></attribute></optional>
    </element>
  </define>
  <define name="img">
    <element name="img">
      <ref name="commonattrs"/>
      <attribute name="src"><data type="anyURI"/></attribute>
      <attribute name="alt"><data type="string"/></attribute>
      <optional><attribute name="longdesc"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="height"><data type="string"/></attribute></optional>
      <optional><attribute name="width"><data type="string"/></attribute></optional>
      <optional><attribute name="usemap"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="ismap"><value>ismap</value></attribute></optional>
    </element>
  </define>
  <define name="abbr">
    <element name="abbr"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="acronym">
    <element name="acronym"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="sub">
    <element name="sub"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="sup">
    <element name="sup"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="tt">
    <element name="tt"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="i">
    <element name="i"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="b">
    <element name="b"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="big">
    <element name="big"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="small">
    <element name="small"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="cite">
    <element name="cite"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="dfn">
    <element name="dfn"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="kbd">
    <element name="kbd"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="samp">
    <element name="samp"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="var">
    <element name="var"><ref name="commonattrs"/><ref name="inline"/></element>
  </define>
  <define name="q">
    <element name="q">
      <ref name="commonattrs"/>
      <optional><attribute name="cite"><data type="anyURI"/></attribute></optional>
      <ref name="inline"/>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Object and embedded content
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="object">
    <element name="object">
      <ref name="commonattrs"/>
      <optional><attribute name="declare"><value>declare</value></attribute></optional>
      <optional><attribute name="classid"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="codebase"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="data"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="type"><data type="string"/></attribute></optional>
      <optional><attribute name="codetype"><data type="string"/></attribute></optional>
      <optional><attribute name="archive"><data type="string"/></attribute></optional>
      <optional><attribute name="standby"><data type="string"/></attribute></optional>
      <optional><attribute name="height"><data type="string"/></attribute></optional>
      <optional><attribute name="width"><data type="string"/></attribute></optional>
      <optional><attribute name="usemap"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="name"><data type="NMTOKEN"/></attribute></optional>
      <optional><attribute name="tabindex"><data type="integer"/></attribute></optional>
      <zeroOrMore>
        <choice>
          <ref name="param"/>
          <ref name="block"/>
          <text/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="param">
    <element name="param">
      <optional><attribute name="id"><data type="ID"/></attribute></optional>
      <attribute name="name"><data type="string"/></attribute>
      <optional><attribute name="value"><data type="string"/></attribute></optional>
      <optional><attribute name="valuetype">
        <choice><value>data</value><value>ref</value><value>object</value></choice>
      </attribute></optional>
      <optional><attribute name="type"><data type="string"/></attribute></optional>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Image maps
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="map">
    <element name="map">
      <ref name="commonattrs"/>
      <!-- Note: In real XHTML, id is required on map, but our commonattrs
           already defines optional id. To avoid OverlappingAttributes (section 7.3),
           we rely on commonattrs' optional id here. -->
      <optional><attribute name="name"><data type="NMTOKEN"/></attribute></optional>
      <oneOrMore>
        <choice>
          <ref name="block"/>
          <ref name="area"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="area">
    <element name="area">
      <ref name="commonattrs"/>
      <optional><attribute name="shape">
        <choice><value>rect</value><value>circle</value><value>poly</value><value>default</value></choice>
      </attribute></optional>
      <optional><attribute name="coords"><data type="string"/></attribute></optional>
      <optional><attribute name="href"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="nohref"><value>nohref</value></attribute></optional>
      <attribute name="alt"><data type="string"/></attribute>
      <optional><attribute name="tabindex"><data type="integer"/></attribute></optional>
      <optional><attribute name="accesskey"><data type="string"/></attribute></optional>
      <optional><attribute name="onfocus"><data type="string"/></attribute></optional>
      <optional><attribute name="onblur"><data type="string"/></attribute></optional>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Edit markup (ins/del)
       ═══════════════════════════════════════════════════════════════════════ -->

  <!-- Block-level versions -->
  <define name="ins-block">
    <element name="ins">
      <ref name="commonattrs"/>
      <optional><attribute name="cite"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="datetime"><data type="dateTime"/></attribute></optional>
      <ref name="flow"/>
    </element>
  </define>

  <define name="del-block">
    <element name="del">
      <ref name="commonattrs"/>
      <optional><attribute name="cite"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="datetime"><data type="dateTime"/></attribute></optional>
      <ref name="flow"/>
    </element>
  </define>

  <!-- Inline versions -->
  <define name="ins-inline">
    <element name="ins">
      <ref name="commonattrs"/>
      <optional><attribute name="cite"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="datetime"><data type="dateTime"/></attribute></optional>
      <ref name="inline"/>
    </element>
  </define>

  <define name="del-inline">
    <element name="del">
      <ref name="commonattrs"/>
      <optional><attribute name="cite"><data type="anyURI"/></attribute></optional>
      <optional><attribute name="datetime"><data type="dateTime"/></attribute></optional>
      <ref name="inline"/>
    </element>
  </define>

  <!-- ═══════════════════════════════════════════════════════════════════════
       Noscript
       ═══════════════════════════════════════════════════════════════════════ -->

  <define name="noscript-block">
    <element name="noscript">
      <ref name="commonattrs"/>
      <ref name="flow"/>
    </element>
  </define>

  <define name="noscript-inline">
    <element name="noscript">
      <ref name="commonattrs"/>
      <ref name="inline"/>
    </element>
  </define>

</grammar>
